<app-input-search class="border col-12 col-lg d-flex flex-column input-group input_search pb-1 pe-3 ps-3 pt-1"></app-input-search>
<div class="bg-white border-0 border-dark input-group-text me-auto me-lg-0 ms-auto ms-lg-0 pb-4 pt-4">
    <i class="col-auto fa-exchange-alt fa-lg fas m-auto text-black-50"></i>
</div>
<!-- <div class="border col-12 col-lg d-flex flex-column input-group input_search pb-1 pe-3 ps-3 pt-1">
    <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
        <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i>
        <input type="text" class="border-white form-control fs-6 mb-n1 text-truncate" id="floatingInput" placeholder="station/gare">
        <label for="floatingInput" class="fs-5 fw-normal mt-n1 ps-4 text-truncate w-100">Station/Gare</label>
    </div>
</div> -->
<app-input-search class="border col-12 col-lg d-flex flex-column input-group input_search pb-1 pe-3 ps-3 pt-1"></app-input-search>
