<div class="bg-white container p-4">
  <div class="align-items-center border-bottom border-info d-flex fs-4 mb-4 pb-1">
      <i class="fa-clock fas pe-2 text-info"></i>
      <p class="mb-0">Liste des Horaires</p>
  </div>
  <div class="table-responsive">
      <table class="table table-borderless table-hover table-responsive">
          <thead>
              <tr class="bg-light">
                  <th scope="col" width="5%" class="text-center">#</th>
                  <th class="text-center">Horaire</th>
                  <th class="text-center">Adresse</th>
                  <th class="text-center">Prix</th>
                  <th class="text-center">Trajet</th>
                  <th class="text-center">statut</th>
              </tr>
          </thead>
          <tbody>
              <tr (click)="clickForeservation(route)" *ngFor="let route of getPoints() let i = index" [ngClass]="{'table-active': currentRoute === i}" class="pointer">
                  <td class="align-middle d-table-cell">{{route.id}}</td>
                  <!-- <td>
                      <div class="align-items-center d-flex flex-column justify-content-center">
                          <p class="fw-bold">{{route.starting_date |date}}</p>
                          <p class="align-middle d-table-cell text-black-50">{{route.starting_date |date: 'shortTime' }}- {{route.arrival_date |date : 'shortTime'}}</p>
                      </div>
                  </td> -->
                  <td>
                      <div class="align-items-center border-dark d-flex pb-2 pt-2">
                        <i class="fa-clock fa-lg fas pe-2 text-info"></i>
                        <div class="gx-0 p-1" data-pg-collapsed>
                            <p class="display-6 fs-6 pb-2 text-black-50 text-center">Départ</p>
                            <p class="fs-5 fw-bolder text-center">{{(route.starting_date | date).toUpperCase()}}</p>
                            <p class="fs-6 fw-bold text-info text-center">{{route.starting_date | date:'shortTime'}}</p>
                          </div>
                          <p class="pe-2 ps-2">-</p>
                          <div class="gx-0 p-1 w-auto" data-pg-collapsed>
                            <p class="display-6 fs-6 pb-2 text-black-50 text-center">Arrivée</p>
                            <p class="fs-5 fw-bold  text-center">{{(route.arrival_date | date).toUpperCase()}}</p>
                          <p class="fs-6 fw-bold text-info text-center">{{route.arrival_date | date:'shortTime'}}</p>
                      </div>
                        <!-- <div class="gx-0  p-1">
                            <p class="fs-6 text-black-50 text-center">Arrivée</p>
                            <p class="fs-5 fw-bold text-info text-center">{{route.arrival_date | date:'shortTime'}}</p>
                        </div> -->
                    </div>
                  </td>
                  <td class="align-middle d-table-cell fw-bold text-center"><span class="fw-normal">{{!route.points[1].is_station ? route.points[1].address : route.points[0].address  }}</span> </td>
                  <td class="align-middle d-table-cell fw-bold text-center"><span class="fw-normal">{{route.price }}</span> </td>
                  <td class="align-middle d-table-cell text-center">{{!route.to_station ? '(Station -&gt; Adresse ) ' : '(Adresse -&gt; Station)'}}</td>
                  <td class="align-middle d-table-cell text-center">
                    <div class="d-flex justify-content-evenly">
                      <i (click)="wantDel(route)" class="fa-trash-alt fas fs-4 text-danger pointer" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
                      <i (click)="view(route.id)" routerLinkActive="router-link-active" class="fa-eye fas fs-4 text-primary pointer"></i>
                      <!-- <i (click)="wantEdit_(route)" data-bs-toggle="modal" data-bs-target="#modalUpdatePlace" routerLinkActive="router-link-active" class="fa-edit fas fs-4 text-primary pointer"></i> -->
                    </div>
                    <!-- <span class="badge bg-primary ps-2">{{route.places === 0 ? 'Terminé' : 'En Attente'}}</span> -->
                  </td>
              </tr>

          </tbody>
      </table>
      <div class="d-flex">
        <ul class="ms-auto pagination">
            <li (click)="navigateToPage(currentPage === 0 ? 0 : currentPage - 1)" class="page-item"  [ngClass]="{'disable': currentPage === 0, 'pointer': currentPage > 0}">
                <a class="page-link" >Précedent</a>
            </li>
            <li (click)="navigateToPage(i)" *ngFor="let point of  pagination let i = index" class="page-item" [ngClass]="{'active': currentPage === i, 'pointer': currentPage !== i}">
                <a  class="page-link " >{{i+1}}</a>
            </li>

            <li (click)="navigateToPage(currentPage === pagination.length - 1 ? currentPage : currentPage + 1)" class="page-item" [ngClass]="{'disable': currentPage === pagination.length - 1, 'pointer': currentPage < pagination.length - 1}">
                <a class="page-link" >Suivant</a>
            </li>
        </ul>
    </div>
  </div>
</div>
