
                                <div class="align-items-center bg-white border d-flex gx-0 justify-content-evenly mb-2 me-auto p-3 row tools-div w-100">
                                  <nav aria-label="breadcrumb" class="d-flex align-items-center justify-content-between  ps-0">
                                      <ol class="breadcrumb mb-2">
                                          <li class="breadcrumb-item">
                                              <a  target="_pg_blank" class="fs-6 a" (click)="onClick(-1)">{{title}}</a>
                                          </li>
                                          <li (click)="i !== files.length - 1 && onClick(i)" *ngFor="let file of files let i = index" class="active breadcrumb-item" aria-current="page">
                                            <span  [ngClass]="{'a': i !== files.length - 1 }" target="_pg_blank" class="fs-6">{{file.name | shorten: 8 :''}}</span>
                                          </li>
                                      </ol>
                                      <button *ngIf="files.length > 0"  data-bs-target="#editfolderModal" data-bs-toggle="modal" (click)="wantEdit_(files.length - 1)" type="button" class="btn btn-outline-primary ms-1 me-3 border-2 fw-bolder border-primary color-primary rounded-pill fs-6">
                                        <i class="fa-edit fa-lg fas pe-2"></i>{{'edit' | translate}} ma valise
                                    </button>
                                  </nav>
                                  <div class="align-items-center d-flex flex-row-reverse justify-content-around">
                                    <div>
                                          <div class="align-items-center d-flex">
                                              <div style="width: 12px; height: 12px;" class="bg-primary"></div>
                                              <p class="ps-2 fw-bold ">{{'things_in_suitcase' | translate}} : {{stats.qty}}</p>
                                          </div>
                                          <div class="align-items-center d-flex">
                                              <div style="width: 12px; height: 12px;" class="bg-danger"></div>
                                              <p class="ps-2 fw-bold ">{{'suitcase_additions' | translate}} : {{stats.total_qty}}</p>
                                          </div>
                                      </div>
                                      <circle-progress class="w-50" style="width: 70%;"
                                      [percent]="(stats.qty/stats.total_qty)*100"
                                      [radius]="30"
                                      [outerStrokeWidth]="8"
                                      [innerStrokeWidth]="4"
                                      [animation]="true"
                                      [animationDuration]="300"
                                      ></circle-progress>

                                    </div>
                              </div>

