

<div  *ngIf="true" class="container-fluid container_home  container_checklist pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
  <section>
      <div class="gx-0 row">
          <div class="col-lg-3  d-none d-lg-block pe-0 ps-0 pt-0">
            <div class="h-auto position-sticky  top-0">
              <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
            </div>
          </div>

          <div class="col-xs-4 col-lg col-xl-6 column_center pe-0 pe-lg-5  ps-0 ps-lg-5">
              <div class="bg-white p-4">
                <p style=''>Vous souhaitez vous rendre vers un A&eacute;roport ou une gare ? &nbsp;Partout o&ugrave; vous &ecirc;tes il-y-a Besomewhere avec vous. &nbsp;Votre bien &ecirc;tre et votre s&eacute;curit&eacute; &nbsp;est au c&oelig;ur de notre priorit&eacute;, c&rsquo;est pourquoi nous avons pris des mesures sanitaires strictes pour garantir des conditions de mobilit&eacute; s&ucirc;res : <br></p><br>
                <ul style="list-style-type: undefined;">
                    <li>Le port du masque est obligatoire &agrave; bord, par cons&eacute;quence exceptionnellement la consommation de nourriture ne peut se faire &agrave; bord.</li>
                    <li>Ne serrez la main &agrave; personne et lavez-vous les mains avant et apr&egrave;s le trajet.</li>
                    <li>Nos v&eacute;hicules embarquent des solutions hydroalcoolique qu&rsquo;il est vivement recommand&eacute; d&rsquo;utiliser avant d&rsquo;embarquer.</li>
                    <li>Si vous ne vous sentez pas en forme ou avez &eacute;t&eacute; en contact avec des personnes malades, annulez votre trajet ou voyagez seul.</li>
                </ul>
                <p style=''>Avant de r&eacute;server assurer vous de prendre connaissance des directives en vigueur dans le pays <a href=" https://reopen.europa.eu/fr/" target="_blank">https://reopen.europa.eu/fr/ </a> .</p>
                <p style=''>Nous prenons des mesures strictes afin de cr&eacute;er des conditions les plus s&ucirc;res possibles :</p><br>
                <ul style="list-style-type: undefined;">
                    <li>D&eacute;sinfection et a&eacute;ration syst&eacute;matiques du v&eacute;hicule apr&egrave;s chaque trajet.</li>
                    <li>D&eacute;sinfection du si&egrave;ge avant votre mont&eacute;.</li>
                    <li>Le conducteur porte strictement le masque pendant toute la dur&eacute;e du trajet.</li>
                </ul>
                <p style=''>Partout o&ugrave; vous &ecirc;tes il-y-a Besomewhere avec vous &nbsp;afin d&rsquo;Assurer votre s&eacute;curit&eacute;</p>
                <p style=''>&nbsp;</p>
                <p style=''>Contact&nbsp;</p>
                <p style=''>Email:&nbsp;<a href="mailto:besomewhere.contact@gmail.com">besomewhere.contact&#64;gmail.com</a></p>
                <p style=''>Tel/ whatsapp :&nbsp;</p>
                <ul style="list-style-type: undefined;">
                    <li>Depuis la Belgique&nbsp;: +32&nbsp;466&nbsp;336 159</li>
                    <li>Depuis la France : +33 6 59 66 83 74</li>
                </ul>

              </div>
          </div>

          <div class="col-xs-12 col-lg-3">
            <div class="h-auto position-sticky  top-0">
                <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
              </div>
          </div>
          </div>
  </section>
</div>

<app-preloader-checklist-list *ngIf="false"></app-preloader-checklist-list>
