<section [routerLink]="['/communaute']"  class="bg-light mb-4 mb-lg-4 mt-2 mt-lg-4 pe-3 pe-lg-0 ps-3 ps-lg-0 section_n pointer">
  <div class="bg-white border-4 border-primary border-start container pb-4 pe-3 ps-3 pt-4">
      <div class="gx-0  row">
          <div class="col-6 mb-auto mt-auto">
              <p class="fs-4">{{'TheyVisitedUs' | translate}} </p>
          </div>
          <div class="col-6 mb-auto mt-auto">
              <img src="https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDF8fG1hcHxlbnwwfHx8fDE2MzM3ODk5NDI&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=480&h=300&fit=crop" class="w-100"/>
          </div>
      </div>
  </div>
</section>
