

<div >
    <div [ngClass]="{'border-4': screen_all, 'border-primary': screen_all }"  class="pointer block   border-top mb-0 pb-0 pt-3 shadow-none timeline">


                <div *ngIf="screen_all" class="gx-0 pe-3 ps-3 pt-3 row">
                    <i class="col-auto d-none fa-lg fa-map-marked fas m-auto text-primary"></i>
                    <h4 class="col fs-5 fw-bolder lead mb-0 pe-0 ps-4 text-uppercase">{{'Help_for_packing_your_suitcase' | translate}}</h4>
                    <i class="col-auto fa-angle-down fa-lg fas m-auto pe-4 text-muted"></i>
                    <hr class="mt-4">
                </div>
                <app-empty-page [title] = "'Aucun_Trajet_reserve' | translate" *ngIf="!lastChecklist" title_class="fs-5"></app-empty-page>
    </div>

    <div routerLinkActive="router-link-active"  *ngIf="lastChecklist" class="pointer block  mb-0 pb-0 pt-3 shadow-none timeline">
          <div [routerLink]="['/checklist', lastChecklist.id]">
              <h3 class="h6 pe-4 ps-4 text-decoration-underline text-start text-truncate">{{'Journey' | translate}} : {{lastChecklist.title}}</h3>
              <div *ngFor="let route of lastChecklist.routes">
                  <div class="pe-4 ps-4">
                      <div class="pb-0 pt-0 tl-item">
                          <div class="pt-0 tl-content w-100">
                              <div class="row row-cols-2 w-auto">
                                  <div class="col-auto pe-0">
                                      <i class="fa-route fas pe-2 text-primary"></i>
                                  </div>
                                  <div class="col-auto ps-0">
                                      <div class="align-items-center col d-flex fw-normal">{{route.country }} {{route.city}}</div>
                                      <div class="col mt-1 text-muted tl-date">
                                          <div class="text-start" style="font-size: 12px;">{{'from' | translate}} {{route.starting_date | date}} {{'to' | translate}} {{route.arrival_date | date}}</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="pb-0 pt-0 tl-item">
                </div>
                  </div>

              </div>
          </div>
          <p *ngIf="lastChecklist && FutureChecklists.length > 1" [routerLink]="['/mes-checklists']" routerLinkActive="router-link-active" [queryParams] = "{archived: false}"  class="ps-4 text-start text-warning pointer">+{{FutureChecklists.length - 1}} {{'Voyage' | translate}}...</p>
    </div>
        <div (click)="wantCreateChecklist.emit()"  routerLinkActive="router-link-active"  class=" d-flex align-items-center card mb-2 p-3 shadow-none">
        <!-- <div [routerLink]="['/checklist/creation']" routerLinkActive="router-link-active"  class="card mb-2 p-3 shadow-none"> -->
          <button class="btn btn-lg btn-outline-primary fs-5 fw-bolder rounded1 rounded-01  border-2 border-primary w-auto" type="text" style="height: 50px;">
              <i class="fa-clipboard-check fa-lg fas pe-2"></i>{{'Add_a_journey' | translate}}
          </button>
        </div>



</div>
