<div class="bg-white p-3">


  <div class="bg-white d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Paiements </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- <app-button (click)="del_modal.datas = getAllChecked(selected_data) " *ngIf="getAllChecked(selected_data).length > 0" class_="fas fa-trash" btn_class = "btn btn-outline-primary  btn-light" text="Suprimer" data-bs-toggle="modal" data-bs-target="#deleteModal"> </app-button> -->
      <!-- <app-button class_="fas fa-plus" btn_class = "btn btn-outline-primary  btn-light" text="Ajouter" data-bs-toggle="modal" data-bs-target="#modalProposerItem"> </app-button> -->
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddPoint" >Ajouter</button> -->

    </div>
  </div>
  <div class="table-responsive">
  </div>

  <div class="container mt-3 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="pl-2 position-relative d-flex align-items-center">
          <input style="max-width: 90px;" #search_input (change)="change()" [(ngModel)]="search_option" type="search"  class="form-control w-auto" placeholder="Recherche...">
          <span class=" ps-3 w-auto"><b>{{payments && payments.length }}</b> Paiements </span>
        </div>
        <div class="px-2 d-flex align-items-center">
            <span class="pe-3">Filter par :  </span>
            <select  style="min-width: 65px;"  #select value="id"  [(ngModel)]="sort_option" class=" pe-3 form-select w-auto h-100" id="inputGroupSelect01">
              <option value="id">Id</option>
              <option value="updated_at">Date Validation</option>
              <!-- <option value="status">Status</option> -->
              <option value="total">Total</option>
          </select>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-hover table-responsive table-borderless">
            <thead>
                <tr class="bg-light">
                    <!-- <th scope="col" width="5%">
                    </th> -->
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="20%">Date de validation</th>
                    <th>Total</th>
                    <th >Par rapport</th>
                    <th >Etat </th>
                    <!-- <th >Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr  routerLinkActive="router-link-active"  *ngFor="let payment of getPayments()  | orderBy:  select.value | filterBy: ['id','date', 'total']: search_input.value   let i = index" class="">
                    <!-- <th scope="row">
                        <input #inp (change)="selectOrUnselect(inp.checked, i)"  [checked]="selected_data[i].selected"  class="form-check-input" type="checkbox">
                    </th> -->
                    <td >{{payment.id}}</td>
                    <td > {{ canScreenDate(payment.status, payment.created_at , payment.updated_at) ?  formatDate(payment.updated_at ) : '-'}}</td>
                    <!-- <td > {{ canScreenDate(payment.status, payment.created_at , payment.updated_at) ?  formatDate(payment.updated_at ) : '-'}}</td> -->
                    <!-- <td > {{ isStatus2(payment.updated_at)  ?  formatDate(payment.updated_at ) : '-'}}</td> -->
                    <td > {{payment.total}} €
                    <td > {{payment.reason === 1 ? 'Reservation' : 'Abonement'}}
                    </td>
                    <td > 
                        <span [ngClass]="getBadgeClasses(payment.status, payment.updated_at, payment.updated_at != payment.created_at)">{{ getStatusText(payment.status, payment.updated_at, payment.updated_at != payment.created_at) }}</span>

                    <!-- <td > {{payment.reason === 1 ? '#' + payment.id_r : '-'}} -->
                    </td>
                    <!-- <td  class="text-end"><span class="fw-normal">
                      <a  data-bs-toggle="modal" data-bs-target="#modalProposerItem" class="checklister pe-2 pointer">Editer</a>
                      <a   class="checklister ps-2" (click)="del_modal.datas = [payment]" data-bs-toggle="modal" data-bs-target="#deleteModal" class="pointer"> Supprimer</a>
                    </span> </td> -->
                </tr>

            </tbody>
        </table>
        <div class="d-flex" *ngIf="payments && payments.length > 0">
            <ul class="ms-auto pagination">
                <li (click)="navigateToPage(currentPage === 0 ? 0 : currentPage - 1)" class="page-item"  [ngClass]="{'disable': currentPage === 0, 'checklister': currentPage > 0}">
                    <a class="page-link" >Précedent</a>
                </li>
                <li (click)="navigateToPage(i)" *ngFor="let checklist of  pagination let i = index" class="page-item" [ngClass]="{'active': currentPage === i, 'checklister': currentPage !== i}">
                    <a  class="page-link " >{{i+1}}</a>
                </li>

                <li (click)="navigateToPage(currentPage === pagination && pagination.length - 1 ? currentPage : currentPage + 1)" class="page-item" [ngClass]="{'disable': currentPage === pagination && pagination.length - 1, 'checklister': !(currentPage < pagination && pagination.length - 1)}">
                    <a class="page-link" >Suivant</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>




<!-- <app-checklist-create ></app-checklist-create> -->

