<div   class="container-fluid container_home pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
    <!-- <div *ngIf="checklists && reservations" class="container-fluid container_home pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5"> -->
      <section>
          <div class="gx-0 row">
              <div class="col-lg-3 d-lg-none d-none d-xl-block pe-0 ps-0 pt-0 ">
                <div class="h-auto position-sticky top-0">
                  <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
                </div>
              </div>
    
              <div class="col-lg-9 col-xl-6 column_center pe-0 pe-lg-5 pe-xl-3 ps-0 ps-lg-5 ps-xl-3 pb-0 ">
                <div class="bg-white p-4">









                    <div class="">
                        <section>
                        <div class="gx-0 row">
                        <div class="">
                        <p style="line-height: 115%; font-size: 17px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 10pt; text-align: left;"><strong>[English]<br /> 1. You didn&rsquo;t find your sharing Taxi read chapter &ldquo;A. Served routes to understand why" to understand why<br /> 2. You want to know where is the meeting point at airport read chapter &ldquo;B. Meeting Point for departure from airport&rdquo;<br /> <br /> <span style="color: #1560bd;"><em>[Fran&ccedil;ais]<br /> 1. Vous n'avez pas trouv&eacute; votre taxi partag&eacute; ? Lisez le chapitre "A. Itin&eacute;raires desservis" pour comprendre pourquoi<br /> 2. Vous voulez savoir o&ugrave; se trouve le point de rencontre &agrave; l'a&eacute;roport ? Lisez le chapitre "B. Point de rencontre pour les d&eacute;parts depuis l'a&eacute;roport"</em><br /></span></strong></p>
                        <br />
                        <p style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;"><strong>A. Served routes / <span style="color: #1560bd;">Itin&eacute;raires desservis<br /> <br /></span></strong></p>
                        <p style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 10pt; text-align: left;">[EN] It may happen that during your research for a shared taxi, the following message appears: "No shared taxi found between this starting point and destination. There are then two possibilities:</p>
                        <ul>
                        <li style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0.3cm 10pt; text-align: left;">You have selected a date for which no shared taxi is available. In this case, please select another date.</li>
                        <li style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0.3cm 10pt; text-align: left;">There is no existing route yet between the Besomewhere stop you have selected and your airport or station. In this case, please check the available routes below to see if the stop you have chosen is connected to your airport/station. If it is not, you can send us an email at <u>besomewhere.contact&#64;gmail.com</u> with your travel date and flight time so that we can customize your request.</li>
                        </ul>
                        <br /> <br />
                        <p style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 10pt; text-align: left;"><span style="color: #1560bd;">[FR] Il peut arriver que, lors de votre recherche de taxi partag&eacute;, le message suivant s'affiche &laquo;&nbsp;Aucun taxi partag&eacute; trouv&eacute; entre ce point de d&eacute;part et la destination&nbsp;&raquo;.&nbsp;</span><span style="color: #1560bd;">Il y a alors deux possibilit&eacute;s :</span></p>
                        <ul>
                        <li style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0.3cm 10pt; text-align: left;"><span style="color: #1560bd;">Soit que vous avez s&eacute;lectionn&eacute; une date pour laquelle aucun taxi partag&eacute; n'est pas disponible. Dans ce cas, veuillez s&eacute;lectionner une autre date.</span></li>
                        <li style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0.3cm 10pt; text-align: left;"><span style="color: #1560bd;">Soit qu&rsquo;il n'existe pas encore de circuit entre l'arr&ecirc;t Besomewhere que vous avez s&eacute;lectionn&eacute; et votre a&eacute;roport ou station. Dans ce cas Veuillez alors v&eacute;rifier parmi les circuits disponibles ci-dessous, dans les itin&eacute;raires, si l'arr&ecirc;t que vous avez choisi est connect&eacute; &agrave; votre a&eacute;roport/station. Si ce n'est pas le cas, vous pouvez nous envoyer un email &agrave; <u>besomewhere.contact&#64;gmail.com</u> avec votre date de voyage et l'heure de votre vol afin que nous puissions personnaliser votre demande. Celle-ci sera trait&eacute;e d&egrave;s que possible.</span></li>
                        </ul>
                        <p class="d-flex justify-content-center align-items-center">&nbsp;<img src="/assets/img/sitemap.png" style="width: 430px; height: 451.971px;" width="430" height="451.971"></p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;"><strong>B. Meeting Point for departure from airport / <span style="color: #1560bd;">Point de rencontre pour les departs depuis l&rsquo;a&eacute;roport<br /> <br /></span></strong></p>
                        <p style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 10pt; text-align: left;">[EN] You have booked a shared taxi with Besomewhere to take you home? You just landed? Here is the information regarding the departure points from the arrival airport:</p>
                        <p style="line-height: 115%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 10pt; text-align: left;"><span style="color: #1560bd;">[FR] Vous avez r&eacute;serv&eacute; un taxi partag&eacute; avec Besomewhere pour vous rendre chez vous ? Vous venez d'atterrir ? Voici les informations concernant les points de d&eacute;part depuis l'a&eacute;roport d'arriv&eacute;e :</span></p>
                        <br /> <br />
                        <p style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;"><strong>1. If departure From Brussels-charleroi-airport / <span style="color: #1560bd;">Si d&eacute;part depuis Brussels-charleroi-airport<br /> <br /></span></strong></p>
                        <p  style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;">Meeting point are the following / <span style="color: #1560bd;">Le point de Rendez-vous est le suivant<br /> <br /></span>&nbsp;<img src="/assets/img/severed1.jpeg" style="width: 430px; height: 451.971px;" width="430" height="451.971"></p>
                        <p><br /><br /></p>
                        <p style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;">Once you get outside, take elevator and press level 0 -&gt; P1|P2|P4/ <span style="color: #1560bd;">Une fois d&eacute;hors montez dans l&rsquo;ascenseur et rendez-vous au niveau 0 -&gt; P1|P2|P4</span></p>
                        <p class="d-flex justify-content-center align-items-center">&nbsp;<img src="/assets/img/severed2.jpeg" style="width: 607px; height: 394.504px;" width="607" height="394.504"></p>
                        <p>&nbsp;<br /><br /></p>
                        <p class="d-flex justify-content-center align-items-center" style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;">Then walked across the parking lot P1|P2 till the end / <span style="color: #1560bd;">Puis travers&eacute; le parking P1|P2 jusqu'au bout</span></p>
                        <p>&nbsp;<img src="/assets/img/severed3.jpeg" style="width: 732px; height: 395.079px;" width="732" height="395.079"></p>
                        <p>&nbsp;</p>
                        <p style="line-height: 110%; font-size: 15px; font-family: Calibri, 'sans-serif'; margin: 0cm 0cm 0pt 0cm; text-align: left;">The meeting point will be at the end of corridor parking P1|P2 / <span style="color: #1560bd;">Le point de rendez-vous sera au bout du couloir parking P1|P2</span></p>
                        <p class="d-flex justify-content-center align-items-center">&nbsp;<img src="/assets/img/severed4.jpeg" style="width: 805px; height: 413.148px;" width="805" height="413.148"></p>
                        <p>&nbsp;<br /><br /></p>
                        <p>Email: <a href="mailto:besomewhere.contact&#64;gmail.com">besomewhere.contact&#64;gmail.com</a></p>
                        <p>Tel/ Whatsapp&nbsp;/ TELEGRAM / SIGNAL</p>
                        <ul>
                        <li>+32&nbsp;466&nbsp;336&nbsp;159</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        </div>
                        </div>
                        </section>
                    </div>
                     
                </div>
              </div>
              <div class="col-lg-3 pe-2 pe-xl-4 ps-2">
                  <div class="h-auto position-sticky  top-0">
                      <app-home-ads image = "https://images.unsplash.com/photo-1571175081012-fbb2d3ba5b90?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fFR1bmlzaWV8ZW58MHx8fHwxNjMzODE3ODM5&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
                  </div>
              </div>
              </div>
      </section>
    </div>





