<div   class="container-fluid container_home pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
    <!-- <div *ngIf="checklists && reservations" class="container-fluid container_home pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5"> -->
      <section>
          <div class="gx-0 row">
              <div class="col-lg-3 d-lg-none d-none d-xl-block pe-0 ps-0 pt-0 ">
                <div class="h-auto position-sticky top-0">
                  <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
                </div>
              </div>
    
              <div class="col-lg-9 col-xl-6 column_center pe-0 pe-lg-5 pe-xl-3 ps-0 ps-lg-5 ps-xl-3 pb-0 ">
                <div class="bg-white p-4">

                    <div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'>
                        <p><strong><span style='line-height:115%;font-family:"Cambria","serif";font-family:"Cambria","serif";font-size:16.0pt;color:#365F91;'> Served routes and Meeting Point from airport / Trajets desservis et Point de rencontre depuis l'aeroport </span></strong></p>
                        <p><br></p>
                         <strong><p style="text-align:justify;"><span style="font-size: 15px; line-height: 115%; color: rgb(23, 54, 93);"><em> 1.Existing trip connexion with BESOMEWHERE stops/ Listes de connexion existantes avec les arr&ecirc;ts BESOMEWHERE</em> </span></p> 
                    </strong>
                    </div>
                    
                    <div align="center" style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'>
                        <table style="border-collapse:collapse;border:none;">
                                <tr>
                                    <td style="width: 388.15pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><strong>A&eacute;roport / Station</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        
                                   
                            <!-- <tbody>      -->
                                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'>Brussels South Charleroi Airport</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><strong><span style="color:black;">&darr;&uarr;</span></strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong><span style="color:black;">Connection with BESOMEWHERE Next stop</span></strong><strong>&nbsp;/ Connexion avec les arr&ecirc;ts BESOMEWHERE Suivant:&nbsp;</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Mongotmery Metro</strong>&nbsp; (Avenue de Tervueren 158, 1150 Woluw&eacute;-Saint-Pierre)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Art Loi Schuman</strong><span style='font-family:"Cambria","serif";'>&nbsp;</span>(17 Rue Jacques de Lalaing Bruxelles)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Trone &nbsp;Metro Bruxelles&nbsp;</strong><span style='font-family:  "Cambria","serif";'>(Rue Montoyer 4, 1000 Bruxelles)</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Gare du midi</strong> (Rue de l&apos;Instruction 158, 1060 Saint-Gilles)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Petite &Icirc;le</strong> (Bd Industriel 17, 1070 Anderlecht)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Boulevard International</strong> (Bd Industriel 129, 1070 Anderlecht)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>IKEA Anderlecht</strong>&nbsp; (Bergensesteenweg 1415, 1070 Anderlecht)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Ruisbroek gare</strong> (Avenue Paul Gilson 18, 1601 Leeuw-Saint-Pierre)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Lot &ndash; Beersel Gare</strong> (130 Beerselsestraat , 1654 Halle)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Gare de Hal</strong> (10 Eug&egrave;ne Ysayestraat , 1500 Halle)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Gare de Nivelles</strong> (Boulevard Charles Van Pee 4, 1400 Nivelles)</p>                </td>
                                </tr>
                                <tr>
                                    <td style="width: 388.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><strong>Gare Luttre</strong> (50 Rue de Liberchies, Pont &nbsp;Celles)</p>
                                    </td>
                                </tr>
                            <!-- </tbody> -->
                        </table>
                    </div>
                    
                    <br>
                    
                        <p><br></p>
                         <strong><p style="text-align: justify;"><span style="font-size: 15px; line-height: 115%; color: rgb(23, 54, 93);"><em>2. Meeting point from aiport are / Les points de départ depuis l'a&eacute;roport sont </em> </span></p></strong>
                        <p style="text-align: center;"><span style="font-size: 15px;">  From Brussels-charleroi-airport / Depuis &nbsp;Brussels-charleroi-airport</span></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><img src="/assets/img/severed1.jpeg" style="width: 430px; height: 451.971px;" width="430" height="451.971"></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><span style='font-size:15px;line-height:115%;font-family:"Calibri","sans-serif";'>Step 1-&gt; Once you get outside, take elevator and Press level 0 -&gt; P1|P2|P4<br>&nbsp;Une fois d&eacute;hors montez dans l&rsquo;ascenseur et rendez-vous au niveau 0 -&gt; P1|P2|P4</span></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><span><img src="/assets/img/severed2.jpeg" style="width: 607px; height: 394.504px;" width="607" height="394.504"></span><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><span><span style='font-size:15px;line-height:115%;font-family:"Calibri","sans-serif";'>Step 2-&gt; Then walked across the parking lot P1|P2 till the end<br>&nbsp;Puis traverser le parking P1|P2 jusqu&apos;au bout&nbsp;</span></span></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><span><img src="/assets/img/severed3.jpeg" style="width: 732px; height: 395.079px;" width="732" height="395.079"></span><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><br></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'>Step 3-&gt; The meeting point will be at the end of corridor parking P1|P2<br>&nbsp;Le point de rendez-vous sera au bout du couloir parking  P1|P2</p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri","sans-serif";margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><span><img src="/assets/img/severed4.jpeg" style="width: 805px; height: 413.148px;" width="805" height="413.148"></span><br></p>
                    <br>
                    
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'>&nbsp;</p>
                    <p style='margin: 0cm 0cm 0pt; line-height: 115%; font-size: 11px; font-family: Calibri, "sans-serif"; text-align: center;'>Email: <a href="mailto:besomewhere.contact&#64;gmail.com">besomewhere.contact&#64;gmail.com</a></p>
                    <p style='margin: 0cm 0cm 0pt; line-height: 115%; font-size: 11px; font-family: Calibri, "sans-serif"; text-align: center;'>Tel/ Whatsapp&nbsp;/ TELEGRAM / SIGNAL</p>
                    <p style='margin: 0cm 0cm 10pt; line-height: 115%; font-size: 11px; font-family: Calibri, "sans-serif"; text-align: center;'>&nbsp;+32 466 336 159</p>
                    <br>
                     
                </div>
              </div>
              <div class="col-lg-3 pe-2 pe-xl-4 ps-2">
                  <div class="h-auto position-sticky  top-0">
                      <app-home-ads image = "https://images.unsplash.com/photo-1571175081012-fbb2d3ba5b90?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fFR1bmlzaWV8ZW58MHx8fHwxNjMzODE3ODM5&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
                  </div>
              </div>
              </div>
      </section>
    </div>