
.tools-div i {
  color: rgba(0, 0, 0, 0.99);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 21px;
}

.tools-div i:hover {
  color: #1b7eba;
}

.tools-div div {
  border-right-width: 1px;

  /* border-right-style: solid */
  padding-top: 0;
  padding-bottom: 0;
}


i{
  color: #6c757d!important;
}
