<!-- <div class="align-items-center border-bottom border-dark d-flex justify-content-center mb-3 me-auto pb-2 rounded-pill text-muted tools-div w-auto" > -->
<!--   <div class="align-items-center  border-dark d-flex justify-content-center mb-3 me-auto pb-2 rounded-pill text-muted tools-div w-auto" >
    <span (click)="createFolder()" tooltip="{{currentFolder ? 'Nouveau Sac dans votre sac : '+ currentFolder.name : 'Commencez par créer un sac en Cliquant sur le dossier ici'}}" placement="top" [showDelay]="500"  class="align-items-center d-flex div flex-column justify-content-center pb-0 pe-1 pointer ps-1 pt-1" data-bs-toggle="tooltip" data-bs-html="false">
        <i class="fa-folder fa-lg far p-1" rel="tooltip" title="" data-bs-target="#newfolderModal" data-bs-toggle="modal"></i>
        <p class="d-none">créer sac</p>
    </span>
    <span (click)="createFile()" tooltip="Cliquez ici Pour ajouter des choses dans votre sac {{currentFolder.name}}" placement="top" [showDelay]="500" *ngIf="currentFolder" disabled="true" class="align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i  class="fa-file fa-lg far p-0 p-1" rel="tooltip" title="" data-bs-toggle="modal"  data-bs-target="#newfileModal" data-bs-toggle="modal"></i>
        <p class="d-none">créer élement</p>
    </span>
    <span tooltip="Copier le sac : {{currentFolder.name}}" placement="top" [showDelay]="500"  *ngIf="currentFolder" (click)="copy(currentFolder)" class="align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-copy fa-lg far p-0 p-1" rel="tooltip" title=""></i>
    </span>
    <span tooltip="Deplacer le sac : {{currentFolder.name}} " placement="top" [showDelay]="500" (click)="cut()" *ngIf="currentFolder" class="align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-clipboard fa-lg far p-0 p-1" rel="tooltip" title=""></i>
        <p class="d-none">Coller</p>
    </span>
    <span tooltip="deposer le sac :  {{currentCopy ? currentCopy.name : currentCut.name}} ici" placement="top" [showDelay]="500" *ngIf="canPaste()" (click)="paste()" class="align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-flag fa-lg far p-0 p-1" rel="tooltip" title=""></i>
    </span>
    <span (click)="delete()" tooltip="Suprimer le sac : {{currentFolder.name}}" placement="top" [showDelay]="500" *ngIf="currentFolder" class="align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-lg fa-trash-alt far p-0 p-1" rel="tooltip" title="" data-bs-target="#deleteModal" data-bs-toggle="modal"></i>
    </span>
    <span (click)="edit()" tooltip="Editer {{currentFolder.name}}" placement="top" [showDelay]="500" data-bs-target="#newfolderModal" data-bs-toggle="modal" *ngIf="currentFolder"  class="align-items-center border-0 d-flex justify-content-center p-1 pointer">
        <i class="fa-edit fa-lg far p-0 p-1" rel="tooltip" title=""></i>
    </span>
  </div> -->




<div class="d-flex justify-content-around mb-3 ">
    <div class="pg-empty-placeholder"></div>
    <div class="align-items-center  border-dark d-flex justify-content-center  rounded-pill text-muted tools-div w-auto">
    <span (click)="createFolder()" tooltip="{{currentFolder ? 'Nouveau Sac dans votre sac : '+ currentFolder.name : 'Commencez par créer un sac en Cliquant sur le dossier ici'}}" placement="top" [showDelay]="500"  class="align-items-center d-flex div flex-column justify-content-center pb-0 pe-1 pointer ps-1 pt-1" data-bs-toggle="tooltip" data-bs-html="false">
        <i class="fa-folder fa-lg far p-1" rel="tooltip" title="" data-bs-target="#newfolderModal" data-bs-toggle="modal"></i>
        <p class="d-none">créer sac</p>
    </span>
    <span (click)="createFile()" tooltip="Cliquez ici Pour ajouter des choses dans votre sac {{currentFolder.name}}" placement="top" [showDelay]="500" *ngIf="currentFolder" disabled="true" class="d-none align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i  class="fa-file fa-lg far p-0 p-1" rel="tooltip" title="" data-bs-toggle="modal"  data-bs-target="#newfileModal" data-bs-toggle="modal"></i>
        <p class="d-none">créer élement</p>
    </span>
    <!-- <span tooltip="Copier le sac : {{currentFolder.name}}" placement="top" [showDelay]="500"  *ngIf="currentFolder" (click)="copy(currentFolder)" class="align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-copy fa-lg far p-0 p-1" rel="tooltip" title=""></i>
    </span> -->
    <span tooltip="Deplacer le sac : {{currentFolder.name}} " placement="top" [showDelay]="500" (click)="cut()" *ngIf="currentFolder" class="d-none align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-clipboard fa-lg far p-0 p-1" rel="tooltip" title=""></i>
        <p class="d-none">Coller</p>
    </span>
    <span tooltip="deposer le sac :  {{currentCopy ? currentCopy.name : currentCut.name}} ici" placement="top" [showDelay]="500" *ngIf="canPaste()" (click)="paste()" class="d-none align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-flag fa-lg far p-0 p-1" rel="tooltip" title=""></i>
    </span>
    <span (click)="delete()" tooltip="Suprimer le sac : {{currentFolder.name}}" placement="top" [showDelay]="500" *ngIf="currentFolder" class="d-none align-items-center d-flex justify-content-center pb-0 pe-1 pointer ps-1 pt-1">
        <i class="fa-lg fa-trash-alt far p-0 p-1" rel="tooltip" title="" data-bs-target="#deleteModal" data-bs-toggle="modal"></i>
    </span>
    <span (click)="edit()" tooltip="Editer {{currentFolder.name}}" placement="top" [showDelay]="500" data-bs-target="#newfolderModal" data-bs-toggle="modal" *ngIf="currentFolder"  class="d-none align-items-center border-0 d-flex justify-content-center p-1 pointer">
        <i class="fa-edit fa-lg far p-0 p-1" rel="tooltip" title=""></i>
    </span>
    </div>
    <div class="align-items-center d-flex d-none">
        <div class="align-items-center border-0 d-flex justify-content-center p-1 pointer">
            <i class="fa-2x fa-question-circle fas"></i>
        </div>
    </div>
</div>
