<div *ngIf="reservation && passengers && items" class="container-fluid pe-0 pe-lg-5 ps-0 ps-lg-5" style="height: 92vh;

/* padding-top: 99px !important */
/* padding-left: 250px !important */
/* padding-right: 250px !important */">
    <section class="h-100">
        <div class="gx-0 h-100 row" data-pg-collapsed>
          <div class="col-lg-4 col-md-12  pr-3 pt-4">
            <app-route-card [detailsIsVisible]="false"  [take_at_home_count]="takeAtHomeCount(reservation.passengers,reservation.take_at_home)" [route]= "reservation" route_css ="pe-0 pe-xl-0 ps-xl-0" [curStatus]="globals"  [take_at_home]="reservation.take_at_home"  [passengers]="reservation.passengers.length" [passengers_array]="reservation.passengers" [items]="reservation.items"></app-route-card>
          </div>
            <div class="col-lg-6 col-md-12 pb-5 pe-2 ps-3">

                <div class="container pe-xl-5 ps-xl-5 pt-4">

                  <div class="align-items-center bg-white d-flex flex-column mb-3 p-3 text-black-50">
                    <div class="d-flex justify-content-start w-100">
                        <!-- <button (click)="update_checklist()" type="button" class="btn btn-outline-primary me-1 rounded-pill">
                            <i class="fa-file-archive fas pe-1"></i> Modifier
                        </button> -->
                        <button  (click)="modal_del.want_delete_reservation(reservation)"  data-bs-target="#deleteModal" data-bs-toggle="modal"  type="button" class="btn btn-outline-danger ms-1 rounded-pill">
                            <i class="fa-trash fas pe-1"></i>Annuler
                        </button>
                    </div>
                  </div>
                    <div class="border-b bg-white me-xl-0 ms-xl-0 pe-3 ps-3 pt-2 mb-5 pb-4">
                        <p class="fs-4 fw-bold pb-2 ps-0 pt-3">Passager (s)</p>
                        <div class="gx-0 row">
                            <div *ngFor="let passenger of passengers let i = index" class="col-md-6 col-lg-6 p-1">
                                <div class="border border-1 p-3 shadow-sm" style ="/* border-radius: 15px */">
                                    <div class="align-items-center border-1 border-bottom1 div_accordion border-danger d-flex justify-content-between mb-2">
                                        <p class="fs-5 fw-bold pb-1 text-body">{{passenger.first_name + ' '+passenger.last_name}}</p>
                                    </div>
                                    <span *ngIf="i === 0" class="fs-6 pt-2 text-muted"><i class="fa-birthday-cake fas pe-2 text-danger"></i>{{passenger.birthday | date}}</span>
                                    <p class="fs-6 fw-normal text-black-50 text-start"><i class="fa-user fas pe-2 text-danger"></i>{{ passenger.gender === 0 ? 'Homme' : 'Femme' }}</p>
                                    <p *ngIf="passenger.phone" class="fs-6 fw-normal text-black-50 text-start"><i class="fa-phone-alt fas pe-2 text-danger"></i>{{ passenger.phone }}</p>
                                    <p *ngIf="passenger.email" class="fs-6 fw-normal text-black-50 text-start"><i class="fa-envelope fas pe-2 text-danger"></i>{{ passenger.email }}</p>
                                    <p *ngIf="reservation.take_to_home_adr && i === 0 " class="fs-6 fw-normal text-black-50 text-start"><i class="fa-map-marker-alt fas pe-2 text-danger"></i>{{ reservation.take_to_home_adr }}</p>
                                    <p *ngIf="i > 0 && passenger.birthday && passenger.birthday.length > 0" class="fs-6 fw-normal text-black-50 text-start"><i class="fa-map-marker-alt fas pe-2 text-danger"></i>{{ passenger.birthday  }}</p>
                                    <!-- <p *ngIf="reservation.take_to_home_adr" class="fs-6 fa-lg fa-map-marker-alt fas text-danger pe-2">{{ reservation.take_to_home_adr }}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>


<!-- reservation -->
                    <div *ngIf="items" class="border-b bg-white  me-xl-0 ms-xl-0 p-2">
                      <p class="fs-4 fw-bold pb-2 pl-3 ps-2 pt-3">Resumé de la commande</p>

                        <div class="accordion" id="panels1">
                            <div class="accordion-item border-0 show" data-pg-collapsed>
                                  <button class="accordion-button bg-white border-21 border-start border-white show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-pg-collapsed>
                                    <div class="align-items-center d-flex gx-0 pb-0 pe-0 ps-0 pt-0 row w-100">
                                      <img src="assets/img/sandwich.png" width="50" height="50" class="">
                                      <div class="col w-25">
                                          <div class="align-items-center d-flex g-0 row row-cols-3">
                                              <p class="col-6 fs-5 pe-2 ps-2 text-body text-start">Petits Plaisirs</p>
                                              <p class="col-3 fs-5 fst-italic text-center text-muted pe-0">x{{total_meals()}}</p>
                                              <p class="col-3 fs-5 fw-bold text-body text-center pe-0">{{total_price_meals().toFixed(2)}} &euro;</p>
                                          </div>
                                      </div>
                                  </div>
                                </button>

                                <div *ngFor="let item of items" id="collapseOne" class="accordion-collapse border-white collapse" aria-labelledby="collapse1" data-bs-parent="#panels1" data-pg-collapsed>
                                    <div *ngIf="isMeal(item)" class="accordion-body border-white pb-0 ps-5 pt-0">
                                        <div class="align-items-center border-bottom1 div_accordion d-flex gx-0 pb-2 pe-0 ps-0 pt-2 row" data-pg-collapsed>
                                            <app-preloader-img style="flex: 0 0 auto; width: auto!important;" [src]="SERVER+item.src" [class]="['m_i', 'col-auto', 'pe-0', 'ps-0']" width_="35px" height_="35px" objectFit="contain"></app-preloader-img>
                                            <!-- <img [src]="SERVER+item.src" class="m_i col-auto pe-0 ps-0" width="35" height="35"> -->
                                            <div class="col w-100">
                                                <div class="align-items-center d-flex g-0 row row-cols-3">
                                                    <p class="col-6 fs-6 pe-2 ps-2 text-body text-start">{{item.name}}</p>
                                                    <p class="col-3 fs-6 fst-italic text-end text-muted pe-4">x{{item.quantity}}</p>
                                                    <p class="col-3 fs-6 fw-bold text-body text-end pe-4">{{item.price}} €</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center border-bottom1 div_accordion d-flex gx-2 p-4 row" data-pg-collapsed>
                                <img src="assets/img/route.png" class="col-auto pe-0 ps-0" width="50" height="50">
                                <div class="col w-100">
                                    <div class="align-items-center d-flex g-0 row row-cols-3">
                                        <p class="col-6 fs-5 pe-2 ps-2 text-body text-start">Siège</p>
                                        <p class="col-3 fs-5 fst-italic text-center text-muted">x{{total_passenger()}}</p>
                                        <p class="col-3 fs-5 fw-bold text-body text-center">{{total_price_passenger().toFixed(2)}} &euro;</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="reservation.take_at_home" class="align-items-center border-bottom1 div_accordion d-flex gx-2 p-4 row" data-pg-collapsed>
                                <img src="assets/img/map.png" class="col-auto pe-0 ps-0" width="50" height="50">
                                <div class="col w-100">
                                    <div class="align-items-center d-flex g-0 row row-cols-3">
                                        <p class="col-6 fs-5 pe-2 ps-2 text-body text-start">Venir à votre porte</p>
                                        <p class="col-3 fs-5 fst-italic text-center text-muted">{{reservation.take_at_home ? 'x'+total_take_at_homr() : 'x0'}}</p>
                                        <p class="col-3 fs-5 fw-bold text-body text-center">{{(take_at_home_price * total_take_at_homr()).toFixed(2)}} &euro;</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border-0 show" data-pg-collapsed>
                              <button class="accordion-button bg-white border-21 border-start border-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2" data-pg-collapsed>

                                <div class="align-items-center border-bottom1  d-flex gx-2 p-0 row w-100" data-pg-collapsed>
                                    <img src="assets/img/baby-car-seat%20(1).png" class="col-auto pe-0 ps-0" width="50" height="50">
                                    <div class="col w-100">
                                        <div class="align-items-center d-flex g-0 row row-cols-3">
                                            <p class="col-6 fs-5 pe-2 ps-2 text-body text-start">Siège bébé</p>
                                            <p class="col-3 fs-5 fst-italic text-center text-muted">x{{total_babyseats()}}</p>
                                            <p class="col-3 fs-5 fw-bold text-body text-center">{{  total_price_babyseats().toFixed(2)}}  &euro;</p>
                                        </div>
                                    </div>
                                </div>
                              </button>

                              <div *ngFor="let item of items" id="collapse2" class="accordion-collapse border-white collapse" aria-labelledby="collapse1" data-bs-parent="#panels1" data-pg-collapsed>
                                <div *ngIf="isBabySeat(item)" class="accordion-body border-white pb-0 ps-5 pt-0">
                                    <div class="align-items-center border-bottom1 div_accordion d-flex gx-0 pb-2 pe-0 ps-0 pt-2 row" data-pg-collapsed>
                                        <app-preloader-img style="flex: 0 0 auto; width: auto!important;"  [src]="SERVER+item.src" [class]="['m_i', 'col-auto', 'pe-0', 'ps-0']" width_="35px" height_="35px" objectFit="contain"></app-preloader-img>
                                        <!-- <img [src]="SERVER+item.src" class="m_i col-auto pe-0 ps-0" width="35" height="35"> -->
                                        <div class="col w-100">
                                            <div class="align-items-center d-flex g-0 row row-cols-3">
                                                <p class="col-6 fs-6 pe-2 ps-2 text-body text-start">{{item.name}}</p>
                                                <p class="col-3 fs-6 fst-italic text-end text-muted pe-4">x{{item.quantity}}</p>
                                                <p class="col-3 fs-6 fw-bold text-body text-end pe-4">{{item.price}} €</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            </div>
                            <div class="align-items-center d-flex gx-2 pb-3 pe-3 ps-4 pt-3 row" data-pg-collapsed>
                                <img src="assets/img/suitcases%20(2).png" class="col-auto pe-0 ps-0" width="50" height="50">
                                <div class="col w-100">
                                    <div class="align-items-center d-flex g-0 row row-cols-3">
                                        <p class="col-6 fs-5 pe-2 ps-2 text-body text-start">Valise supplémentaire</p>
                                        <p class="col-3 fs-5 fst-italic text-center text-muted"> x{{total_suitcase()}}</p>
                                        <p class="col-3 fs-5 fw-bold text-body text-center">{{total_price_suitcase().toFixed(2)}}  &euro;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="align-items-center bg-light d-flex gx-0 p-3 row" data-pg-collapsed>
                        <div class="col w-100">
                            <div class="align-items-center d-flex g-0 row row-cols-2">
                                <p class="fs-4 fw-bold pe-2 ps-2 text-body text-start">Total</p>
                                <p class="fs-4 fw-bold text-end text-info">{{(total_price_meals() + total_price_suitcase() + total_price_passenger() + total_price_babyseats() + getTakeAtHomeOption()).toFixed(2)}} €</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 pe-0 ps-0">

            </div>
            </div>
    </section>
</div>

<app-preloader-route-details *ngIf="!reservation || !passengers || !items"></app-preloader-route-details>
<app-modal-delete #modal_del (onReservationDeleted)="reservationdeleted()"></app-modal-delete>
<app-toast></app-toast>
