.language-select {
    display: flex;
    gap: 3px;
  }
  
  .lang-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .lang-btn span {
    // margin-right: 8px;
    width: 20px;
    height: 14px;
    display: inline-block;
  }
  
  .lang-btn.active {
    background-color: #007bff26;
    color: #fff;
    border-color: transparent;
  }
  
  .lang-btn:hover {
    background-color: #f0f0f0;
  }
  