
<select id="languageSelect" [(ngModel)]="selectedLanguage" (change)="changeLanguage(selectedLanguage)">
  <option value="fr">Français</option>
  <option value="en">English</option>
</select>

<!-- <div class="language-select">
  <button *ngFor="let lang of languages" (click)="changeLanguage(lang.value)" [class.active]="selectedLanguage === lang.value" class="lang-btn">
    <span [class]="'fi fi-' + lang.flagClass"></span> 
  </button>
</div> -->




<!-- {{ 'WelcomeText' | translate }} -->

<!-- Example template -->
<!-- <p>{{ 'CheckList1' | translate: { var1: 'John', var2: 'Doe', var3: 'Smith' } }}</p> -->

