<div (click)="openInNewTab()" *ngIf="ads" class="card card_pub h-auto mb-2 p-3 shadow-none w-100 pointer" target="_blank" >
  <div class="d-flex justify-content-between">
</div>
  <div class="lh-sm text-secondary text-wrap">
      <p class="fs-5 fw-bold pb-2 pt-3 text-body text-decoration-underline  truncate">{{ads.title}}</p>
      <p class="fs-5 text-muted" style="text-align: justify;">{{ads.description | shorten : 150 : "..."}}</p>
      <div class="d-none div_img_pub pg-empty-placeholder"></div>
      <!-- <img [src]="ads.image"/> -->
      <app-preloader-img [src]="ads.image" [height_]="'300px'"></app-preloader-img>
  </div>
</div>

<div *ngIf="!ads" class="col-lg-3 d-lg-none d-none d-xl-block pe-0 ps-0 pt-0">
  <div class="animate-pulse card-1 mt-4" style="height: 350px;"> </div>
</div>
