

<div  *ngIf="true" class="container-fluid container_home  container_checklist pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
  <section>
      <div class="gx-0 row">
          <div class="col-lg-3  d-none d-lg-block pe-0 ps-0 pt-0">
            <div class="h-auto position-sticky  top-0">
              <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
            </div>
          </div>

          <div class="col-xs-4 col-lg col-xl-6 column_center pe-0 pe-lg-5  ps-0 ps-lg-5">
            <div class="bg-white p-4">

                <h4 class="western">
                  Mieux comprendre Les Points de d&eacute;parts</h4>
                  <p style="margin-bottom: 0.14in"><br/>

                  </p>
                  <p style="margin-bottom: 0.14in">Avez-vous des difficult&eacute;s &agrave;
                  trouver un point d&rsquo;arr&ecirc;t&nbsp;? Pas d&rsquo;inqui&eacute;tude,
                  Partout o&ugrave; vous &ecirc;tes Besomewhere est avec vous pour vous
                  apporter un support. <br/>
                  Le fonctionnement est simple et rapide.</p>
                  <p style="margin-bottom: 0.14in">Deux possibilit&eacute;s, s&rsquo;offre
                  &agrave; vous&nbsp;:</p>
                  <ul >
                    <li><p style="margin-bottom: 0.14in">Je vais vers un a&eacute;roport/
                    Gare &agrave; partir de mon adresse</p>
                    <li><p style="margin-bottom: 0.14in">Je viens d&rsquo;un
                    a&eacute;roport/Gare et me dirige vers mon adresse</p>
                  </ul>
                  <p style="margin-bottom: 0.14in">Il est tr&egrave;s important de
                  noter, que le num&eacute;ro de t&eacute;l&eacute;phone indiqu&eacute;
                  doit &ecirc;tre fonctionnel, car vous serez contact&eacute; &agrave;
                  notre arriv&eacute;.</p>
                  <ol>
                    <br>
                    <li><p style="margin-bottom: 0.14in"> Je vais vers un a&eacute;roport/
                    Gare &agrave; partir de mon adresse</p>
                  </ol>
                  <p style="margin-bottom: 0.14in">Je dois dans un premier temps entrer
                  mon adresse dans les champs pr&eacute;vus &agrave; cet effet.  Il est
                   pr&eacute;f&eacute;rable de respecter la forme &laquo;&nbsp;adresse,
                  villes, pays&nbsp;&raquo;.</p>
                  <p style="margin-bottom: 0.14in"> Exemple&nbsp;: Avenue de  la
                  couronne Ixelles Belgique
                  </p>
                  <p style="margin-bottom: 0.14in">Apr&egrave;s avoir entr&eacute;e mon
                  adresse, je dois s&eacute;lectionner l&rsquo;a&eacute;roport &agrave;
                  laquelle je souhaite me rendre.
                  </p>
                  <p style="margin-bottom: 0.14in">Je s&eacute;lectionne la date et je
                  clique sur allez-y<br/>
                  Exemple&nbsp;: l&rsquo;a&eacute;roport de
                  Charleroi.
                  </p>
                  <p align="center" style="margin-bottom: 0.14in"><img width="365" src="../../../assets/img/mieu-comprendre-1.png" alt="image">
                  </p>
                  <p style="margin-bottom: 0.14in">Les points d&rsquo;arr&ecirc;ts les
                  plus proches s&rsquo;affichent alors, je dois s&eacute;lectionner  le
                  plus proche et cliquer sur continuer.
                  </p>
                  <p align="center" style="margin-bottom: 0.14in"><img width="285" src="../../../assets/img/mieu-comprendre-2.png" alt="image">
                  </p>
                  <p style="margin-bottom: 0.14in">Vous devrez alors s&eacute;lectionner
                  le nombre de place et un horaire.
                  </p>
                  <ol start="2">
                    <br>
                    <li><p style="margin-bottom: 0.14in">Je viens d&rsquo;un
                    a&eacute;roport/Gare et me dirige vers mon adresse</p>
                  </ol>
                  <p style="margin-bottom: 0.14in">Le processus est exactement le m&ecirc;me
                  que pr&eacute;c&eacute;demment, mis &agrave; part que vous devez
                  inverser les champs &laquo;&nbsp;A&eacute;roport/Gare uniquement&nbsp;&raquo;
                  avec &laquo;&nbsp;adresse&nbsp;&raquo;.</p>
                  <p align="center" style="margin-bottom: 0.14in"><img width="410" src="../../../assets/img/mieu-comprendre-3.png" alt="image"></p>
                  <h5 class="western pt-4"><p>Liste des villes desservis par le r&eacute;seau
                  Besomewhere</p></h5>
                  <p >
                  Nous avons la volont&eacute;
                  d&rsquo;agrandir notre r&eacute;seau, vous ne trouvez pas votre
                  ville&nbsp;? Vous pouvez nous contacter directement via mail ou
                  t&eacute;l&eacute;phone.
                  </p>
                  <p style="margin-bottom: 0.14in">Beersel, Braine-le-Ch&acirc;teau,
                  Braine-l'Alleud, Bruxelles, Courcelles, Charleroi, Halle, Ittre,
                  Leeuw-Saint-Pierre, Mons, Nivelles, Pont-&agrave;-Celles, Seneffe.</p>
                  <p style="margin-bottom: 0.14in">Valencienne, Beauvais,
                  </p>
                  <p style="margin-bottom: 0.14in"><a name="_GoBack"></a><br/>

                  </p>
                  <p style="margin-bottom: 0.9in"><font size="4" style="font-size: 12pt"><b>Partout
                  o&ugrave; vous &ecirc;tes Besomewhere est avec vous</b></font></p>
                  <p style="margin-bottom: 0.14in"><br/>
                  <br/>

                  </p>
                  <p style="margin-bottom: 0.14in"><span lang="en-GB">Contact </span>
                  </p>
                  <p style="margin-bottom: 0.14in"><span lang="en-GB">Email&nbsp;:
                  </span><font color="#0000ff"><u><a href="mailto:besomewhere.contact@gmail.com"><span lang="en-GB">besomewhere.contact@gmail.com</span></a></u></font></p>
                  <p style="margin-bottom: 0.14in"><span lang="en-GB">Tel/ whatsapp&nbsp;:
                  </span>
                  </p>
                  <ul>
                    <li><p style="margin-bottom: 0.14in">Depuis la Belgique&nbsp;:
                    +32&nbsp;466&nbsp;336 159</p>
                    <li><p style="margin-bottom: 0.14in">Depuis la France&nbsp;: +33 6
                    59 66 83 74</p>
                  </ul>
                  <p style="margin-bottom: 0.14in"><br/>
                  <br/>

                  </p>
              </div>
          </div>

          <div class="col-xs-12 col-lg-3">
            <div class="h-auto position-sticky  top-0">
                  <app-home-ads image = "https://images.unsplash.com/photo-1571175081012-fbb2d3ba5b90?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fFR1bmlzaWV8ZW58MHx8fHwxNjMzODE3ODM5&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
              </div>
          </div>
          </div>
  </section>
</div>

<app-preloader-checklist-list *ngIf="false"></app-preloader-checklist-list>
