<div class="container-fluid pe-0 ps-0" style="height: 92vh;

/* padding-top: 99px !important */
/* padding-left: 250px !important */
/* padding-right: 250px !important */" id="preloader-checklist-create" data-pg-collapsed data-pg-hidden>
    <section class="h-100  pe-xl-5 ps-xl-5">
        <div class="gx-0 h-100 pe-xl-5 ps-xl-5 row">
            <div class="col-lg-3 pe-2 pe-xl-4 ps-2">
                <div class="animate-pulse card-1 mt-4" style="height: 350px;"> </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 pe-xl-0 ps-xl-0 pt-0">

                <div class="container-fluid pb-0 pe-0 pe-lg-5 pe-xl-0 ps-0 ps-lg-5 ps-xl-0">
                    <div class="bg-white  p-3">
                        <div class=" pe-0 ps-0">
                            <div class="">
                                <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 100%;"> </div>
                                <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 100%;"> </div>
                                <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 100%;"> </div>
                                <div class="animate-pulse card-1 mb-3 mt-2" style="height: 18px; width: 75%;"> </div>
                                <div class="animate-pulse card-1 mb-3 mt-2" style="height: 250px; width: 100%;"> </div>
                                <div class=" pe-2">
                                    <div class="form-floating mb-3" data-pg-dyn-id="did_107">
                                        <div class="animate-pulse card-1 mb-3 ms-auto mt-2" style="height: 18px; width: 28%;"> </div>
                                        <div class="animate-pulse card-1 mb-5 ms-auto mt-5" style="height: 24px; width: 100%;"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" pb-4">
                                <div class="d-flex gx-0 pe-2 ps-2 row row-cols-4 row-cols-xl-4">
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                    <div class="align-items-center d-flex flex-column justify-content-center pb-3 pt-3">
                                        <div style="border-radius: 50%; width: 60px; height: 60px;" class="align-items-center d-flex justify-content-center">
                                            <div class="animate-pulse card-1 mb-5 mt-5  rounded-circle" style="height: 60px; width: 60px;"> </div>
                                        </div>
                                        <div class="animate-pulse card-1 mb-3 mt-3" style="height: 13px; width: 28%;"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-lg-3  pe-2 ps-2 ps-xl-4">
                <div class="animate-pulse card-1 mt-4" style="height: 350px;"> </div>
            </div>
            </div>
    </section>
</div>
