

<div id="preloader-route-list"  class="container-fluid container_home pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
  <section>
      <div class="gx-0 row">
          <div class="col-lg-3  d-none d-lg-block pe-0 ps-0 pt-0">
            <div class="animate-pulse card-1 mt-4" style="height: 350px;"> </div>
          </div>

          <div class="col-xs-4 col-lg col-xl-6 column_center pe-0 pe-lg-5 pe-xl-3 ps-0 ps-lg-5 ps-xl-3">
            <div *ngFor="let item of [1,2,3,4]" class="pe-0 pe-xl-0 ps-xl-0 pt-4">
              <div class="bg-white border col-12 col-xl container-fluid d-flex flex-column justify-content-center pb-3 pt-3" style="height: 200px;">
                  <div class="">
                      <div class="d-flex flex-column ps-3 tl-item" data-pg-collapsed>
                          <div class="pb-2 pe-0 ps-0 pt-2 tl-content w-100">
                              <div class="gx-0 row">
                                  <div class="col fs-5 fw-bold">
                                      <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 81%;"> </div>
                                      <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 51%;"> </div>
                                  </div>
                                  <div class="col pt-2 text-muted tl-date">
                                      <div class="d-flex gx-0 justify-content-end pe-3 row row-cols-5">
                                          <div class="mb-2">
                                              <div class="animate-pulse card-1 rounded-circle" style="height: 25px; width: 25px;"> </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="pb-2 pe-0 ps-0 pt-2 tl-content w-100">
                              <div class="gx-0 row">
                                  <div class="col fs-5 fw-bold">
                                      <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 81%;"> </div>
                                      <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 51%;"> </div>
                                  </div>
                                  <div class="align-items-center col d-flex justify-content-end pe-3 pt-2 text-muted tl-date">
                                      <div class="animate-pulse card-1" style="height: 18px; width: 75%;"> </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="bg-white border col-12 col-xl container-fluid mb-2 mt-2" data-pg-collapsed>
                <div class="">
                    <div class="d-flex  tl-item">
                        <div class="pb-3 pt-3 tl-content w-100">
                            <div class="d-flex gx-0 justify-content-center row row-cols-5 w-100">
                                <div class="mb-2">
                                    <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                </div>
                                <div class="mb-2">
                                    <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                </div>
                                <div class="mb-2">
                                    <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                </div>
                                <div class="mb-2">
                                    <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-3 pe-2 pe-xl-4 ps-2">
              <div class="animate-pulse card-1 mt-4" style="height: 350px;"> </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-3">
              <div class=" gx-0 row">
                <div class="animate-pulse card-1 mt-4" style="height: 350px;"> </div>
              </div>
          </div>
          </div>
  </section>
</div>


