.invalid-form {
  color: #ff0017;
  /* background-color: #f8d7da; */
  /* border-color: #f5c2c7; */
  font-style: italic;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0rem;
}

input:disabled {
  background-color: #f3f4f6; /* couleur de fond gris clair */
  color: #9ca3af; /* couleur du texte gris */
  cursor: not-allowed; /* montre que le champ est désactivé */
}