<section *ngIf="curRoute" class="h-100">
  <div class="gx-0 h-100 row">
      <div class="col-lg-3 pe-0 ps-0">
</div>
      <div class="col-12 col-lg-6  pe-xl-5 ps-xl-5 pt-4">

          <app-route-card *ngIf="curRoute" [curStatus]= "statusCard" [route]="curRoute" [take_at_home]="reservation.take_at_home" [passengers]="reservation.passengers.length"></app-route-card>

          <div class="container-fluid mt-lg-4 pb-0 pb-lg-4 pe-0 pe-lg-5 ps-0 ps-lg-5">

            <form (ngSubmit)="onSubmit()" [formGroup]="passengersForm">

                <div class="bg-white mt-4 p-3">
                  <div class="d-flex justify-content-between pe-0 pe-xl-5">
                    <p class="fs-4 fw-bold ps-0 ps-xl-3">Passagers</p>
                    <div *ngIf="curRoute.for_disabled && false" class="align-items-center d-flex pe-0 pe-xl-3">
                        <img src="assets/img/disabled-people.png" width="25" height="25"/>
                        <div class="d-flex ps-2">
                            <div class="form-check  pe-3" data-pg-collapsed>
                                <input class="form-check-input" type="radio" value="1" name="for_disabled" formControlName="for_disabled" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">Oui</label>
                            </div>
                            <div class="form-check" data-pg-collapsed>
                                <input class="form-check-input" type="radio"  value="0" name="for_disabled" formControlName="for_disabled" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">Non</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------------------- take at home---------------------------------- -->

                <div *ngIf="reservation.take_at_home" class="div-take-at-home p-0 pt-5">
                  <div class="g-0 row row-cols-1 row-cols-md-2">
                    <div data-pg-collapsed class="d-flex flex-column justify-content-evenly">
                      <div>
                          <p>Point d&apos;origine</p>
                          <span>{{curRoute.points[0].title}}</span>
                      </div>
                      <div>
                          <p>Heure d&apos;origine</p>
                          <span>{{curRoute.starting_date | date:'shortTime'}}</span>
                      </div>
                  </div>
                      <div data-pg-collapsed>
                          <!-- <p>Option venir à votre porte</p>
                          <div class="pt-2 row">
                              <div class="input-group mb-3">
                                <datalist id="adr1_datalist">
                                  <option class="text-l" (input)="textInput($event)" *ngFor="let point of points let i = index" [value]="point.title">{{point.address.city}} - {{point.address.countryName}} </option>
                                </datalist>
                                  <input id="take_to_home_adr" list="adr1_datalist" type="text" class="form-control" formControlName="take_to_home_adr" placeholder="Adfresse où il faut vous récupérer" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['take_to_home_adr'].errors }">
                              </div>
                          </div> -->
                          <p>Heure de passage à votre porte</p>
                          <span>L&apos;heure de passage est la même que l&apos;heure d&apos;origine avec +/- 30 minutes</span>
                      </div>
                  </div>
                  <p class="fw-normal mt-3">Je garantis sur l&rsquo;honneur que l&apos;adresse où je dois être récupéré est 5 moins de 5Km

              du point de départ d&rsquo;origine. j&apos;accepte, que Besomewhere se réserve le droit de

              refuser, toute adresse renseignée dont la distance est supérieure : 5Km, du point

              d&rsquo;origine sans dédommagement possible. Vous devez nous fournir soit  un numéro local du pays de réservation, soit un numéro accessible par whattaps ,telegram ou signal, Vous pouvez nous contacter au numéro suivant : {{conf.phone_number}} </p>
              </div>

                <!--------------------------------------- formulaire passager---------------------------------- -->

                    <div class="pe-0 pe-xl-5 ps-0 ps-xl-5">
                        <div *ngFor="let item of  passengers let i = index" class="border-2 border-bottom pb-4 pt-4">
                            <p class="fw-bolder pb-3 pt-2 text-uppercase">PASSAGER N°{{i+1}}</p>
                            <div class="d-flex justify-content-between pb-4">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check"   [formControlName]="'gender'+ i" value="0" [name]="'gender'+ i" [id]="'groupradio' + i" autocomplete="off" checked >
                                    <label class="btn btn-outline-danger" [for]="'groupradio' + i" >Homme</label>
                                    <input type="radio" class="btn-check" [formControlName]="'gender'+ i"  value="1"  [name]="'gender'+ i" [id]="'groupradion' + i" autocomplete="off">
                                    <label class="btn btn-outline-danger" [for]="'groupradion' + i" >Femme</label>
                                </div>

                                <div *ngIf="i > 0 && reservation.take_at_home"  class="form-check align-items-center d-flex form-switch" data-pg-collapsed>
                                    <input  #in_take class="form-check-input" type="checkbox"  [formControlName]="'take_at_home'+ i" (change)="setRequiredField('date' + i,passengersForm.get('take_at_home'+ i).value)" value="1" [name]="'take_at_home'+ i"   [id]="'flexRadioDefault'+i">
                                    <label class="form-check-label" [for]="'flexRadioDefault'+i">Venir à ma porte (+{{price_take_to_home}} €)</label>
                                  </div>
                            </div>
                            <div class="d-flex gx-0  row row-cols-2 row-cols-xl-3">
                                <div class=" p-1">
                                    <div class="form-floating mb-2" data-pg-dyn-id="did_107">
                                        <input type="text" class="form-control" id="floatingInput" name="'first_name' + i" [formControlName]="'first_name' + i"  placeholder="nom" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['first_name' + i].errors }" >
                                        <label for="floatingInput">Nom</label>
                                    </div>
                                    <div *ngIf="submitted && passengersForm.controls['first_name'+ i].errors" class="invalid-form mb-3">
                                        <div *ngIf="submitted && passengersForm.controls['first_name'+ i].errors['required']">Nom requit.</div>
                                  </div>
                                </div>
                                <div class=" p-1">
                                    <div class="form-floating mb-2" data-pg-dyn-id="did_107">
                                        <input type="text" class="form-control" id="floatingInput" name="last_name" [formControlName]="'last_name'+ i"  placeholder="nom" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['last_name' + i].errors }">
                                        <label for="floatingInput">Prénom</label>
                                    </div>
                                    <div *ngIf="submitted && passengersForm.controls['last_name' + i].errors" class="invalid-form mb-3">
                                      <div *ngIf="submitted && passengersForm.controls['last_name' + i].errors['required']">Prénom requit.</div>
                                    </div>
                                </div>
                                <div *ngIf="i === 0" class=" p-1">
                                    <div class="form-floating mb-2" data-pg-dyn-id="did_107">
                                        <input type="email" class="form-control" id="floatingInput" name="email" [formControlName]="'email'+ i"  placeholder="nom" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['email' + i].errors }">
                                        <label for="floatingInput">Email</label>
                                    </div>
                                    <div *ngIf="submitted && passengersForm.controls['email' + i].errors" class="invalid-form mb-3">
                                      <div *ngIf="submitted && passengersForm.controls['email' + i].errors['required']">Prénom requit.</div>
                                    </div>
                                </div>
                                <div *ngIf="i === 0" class=" p-1">
                                    <div class="form-floating mb-2" data-pg-dyn-id="did_107">
                                        <input type="text" class="form-control" id="floatingInput" name="phone" [formControlName]="'phone'+ i"  placeholder="nom" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['phone' + i].errors }">
                                        <label for="floatingInput truncate">Numéro + code indicatif </label>
                                    </div>
                                    <div *ngIf="submitted && passengersForm.controls['phone' + i].errors" class="invalid-form mb-3">
                                      <div *ngIf="submitted && passengersForm.controls['phone' + i].errors['required']">numéro de téléphone requit.</div>
                                    </div>
                                </div>
                 
                                <div  *ngIf="i === 0"  class=" p-1">
                                    <div class="form-floating mb-3 " data-pg-dyn-id="did_107">
                                        <input  type="date" class="form-control" id="floatingInput" placeholder="nom" [formControlName]="'date' + i" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['date' + i].errors }">
                                        <label for="floatingInput">Date de naissance</label>
                                    </div>
                                    <div *ngIf="submitted && passengersForm.controls['date' + i].errors" class="invalid-form mb-3">
                                      <div *ngIf="submitted && passengersForm.controls['date' + i].errors">{{i !== 0 ? 'Date invalide.' : 'Le premier passager doit avoir au moins 18 ans'}}</div>
                                    </div>
                                </div>
                                <!-- <div  class=" p-1"  *ngIf="i === 0" > 
                                    <p>Venir à votre porte</p>
                                    <div class="pt-2 row1 form-floating mb-2">
                                        <div class="input-group mb-3">
                                          <datalist id="adr1_datalist">
                                            <option class="text-l" (input)="textInput($event)" *ngFor="let point of points let i = index" [value]="point.title">{{point.address.city}} - {{point.address.countryName}} </option>
                                          </datalist>
                                            <input id="take_to_home_adr" list="adr1_datalist" type="text" class="form-control" formControlName="take_to_home_adr" placeholder="Adfresse où il faut vous récupérer" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['take_to_home_adr'].errors }">
                                            <label for="floatingInput truncate">Numéro + code indicatif </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div *ngIf="reservation.take_at_home">
                                    <div *ngIf="i === 0" class=" p-1">
                                        <div class="form-floating mb-2" data-pg-dyn-id="did_107">
                                                <input id="take_to_home_adr" list="adr1_datalist" type="text" class="form-control" formControlName="take_to_home_adr" placeholder="Adfresse où il faut vous récupérer" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['take_to_home_adr'].errors }">
                                            <label for="floatingInput truncate">Venir à ma porte</label>
                                        </div>
                                    </div>
                                    <div *ngIf="i > 0 && passengersForm.get('take_at_home' + i).value " >
                                        <div class="form-floating mb-3 " data-pg-dyn-id="did_107">
                                            <input  type="text" class="form-control" id="floatingInput" placeholder="ok" [formControlName]="'date' + i" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls['date' + i].errors }">
                                            <label for="floatingInput">Venir à votre porte</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="border-2 border-bottom pb-4 pt-4">
                            <p class="fw-bolder pb-3 pt-2 text-uppercase">PASSAGER N°1</p>
                            <div class="d-flex justify-content-between pb-4">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="1" id="groupradio3" autocomplete="off" checked>
                                    <label class="btn btn-outline-danger" for="groupradio3">Homme</label>
                                    <input type="radio" class="btn-check" name="1" id="groupradio2" autocomplete="off">
                                    <label class="btn btn-outline-danger" for="groupradio4">Femme</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="groupradio4" autocomplete="off">
                                </div>
                            </div>
                            <div class="d-flex gx-0  row row-cols-2 row-cols-xl-3">
                                <div class=" p-1">
                                    <div class="form-floating mb-3" data-pg-dyn-id="did_107">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="nom">
                                        <label for="floatingInput">Nom</label>
                                    </div>
                                </div>
                                <div class=" ps-2">
                                    <div class="form-floating mb-3" data-pg-dyn-id="did_107">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="nom">
                                        <label for="floatingInput">Prénom</label>
                                    </div>
                                </div>
                                <div class=" pe-2">
                                    <div class="form-floating mb-3 " data-pg-dyn-id="did_107">
                                        <input type="date" class="form-control" id="floatingInput" placeholder="nom">
                                        <label for="floatingInput">Date</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>



                    <div class="border-dark d-none p-4">
                        <p class="fw-bolder pb-3 text-uppercase">N°3</p>
                        <div class="d-flex justify-content-between pb-4">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="3" id="8" autocomplete="off" checked>
                                <label class="btn btn-outline-danger" for="8">Homme</label>
                                <input type="radio" class="btn-check" name="3" id="9" autocomplete="off">
                                <label class="btn btn-outline-danger" for="9">Femme</label>
                                <input type="radio" class="btn-check" name="btnradio" id="10" autocomplete="off">
                            </div>
                            <input type="date" value="5555" class="border pe-2 ps-2"/>
                            <div class="d-none row row-cols-3 w-50">
                                <input type="date" value="5555"/>
                                <input type="week" value="5555"/>
                                <input type="week" value="5555"/>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="col pe-2">
                                <div class="border border-1 d-flex flex-column input-group input_search pb-2 pe-3 ps-3 pt-2">
                                    <label class="fw-bold ps-2 text-uppercase">Nom</label>
                                    <div class="align-items-center d-flex justify-content-center pe-2 row">
                                        <input type="text" class="border-0 border-primary col form-control " placeholder="nom" aria-label="Username">
                                    </div>
                                </div>
                            </div>
                            <div class="col ps-2">
                                <div class="border border-1 d-flex flex-column input-group input_search pb-2 pe-3 ps-3 pt-2">
                                    <label class="fw-bold ps-2 text-uppercase">prenom</label>
                                    <div class="align-items-center d-flex justify-content-center pe-2 row">
                                        <input type="text" class="border-0 border-primary col form-control " placeholder="nom" aria-label="Username">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container d-flex flex-row-reverse pb-3 pe-4 ps-4 pt-4">
                    <button (click)="checkValid('#take_to_home_adr')" type = "submit" class = "forsubmit" type="text" class="align-items-center btn btn-lg btn-outline-primary d-flex flex-row-reverse fs-5 fw-bold justify-content-center w-auto" style="height: 55px;">
                        <i class="fa-arrow-right fas fw-bolder ps-0"></i>Continuer&nbsp;
                    </button>
                    </div>
                </div>
            </form>
            <!-- <p>Form value: {{ passengersForm.value | json }}</p>
            <p>Form status: {{ passengersForm.status | json }}</p> -->
          </div>



</div>
</div>
</section>

<div *ngIf="!curRoute" class="bg-white" style="height: 95vh;">
  <app-loading-page class="h-100"></app-loading-page>
</div>
