<div class="container-fluid pe-0 pe-lg-5 ps-0 ps-lg-5" style="height: 92vh;

/* padding-top: 99px !important */
/* padding-left: 250px !important */
/* padding-right: 250px !important */" data-pg-collapsed id="preloader-route-details">
    <section class="h-100">
        <div class="gx-0 h-100 row">
          <div class="col-lg-4 pe-2 ps-0">
            <div class="pe-0 pe-xl-0 ps-xl-0 pt-4">
                <div class="bg-white border col-12 col-xl container-fluid d-flex flex-column justify-content-center pb-3 pt-3" style="height: 200px;">
                    <div class="">
                        <div class="d-flex flex-column ps-3 tl-item" data-pg-collapsed>
                            <div class="pb-2 pe-0 ps-0 pt-2 tl-content w-100">
                                <div class="gx-0 row">
                                    <div class="col fs-5 fw-bold">
                                        <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 81%;"> </div>
                                        <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 51%;"> </div>
                                    </div>
                                    <div class="col pt-2 text-muted tl-date">
                                        <div class="d-flex gx-0 justify-content-end pe-3 row row-cols-5">
                                            <div class="mb-2">
                                                <div class="animate-pulse card-1 rounded-circle" style="height: 25px; width: 25px;"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-2 pe-0 ps-0 pt-2 tl-content w-100">
                                <div class="gx-0 row">
                                    <div class="col fs-5 fw-bold">
                                        <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 81%;"> </div>
                                        <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 51%;"> </div>
                                    </div>
                                    <div class="align-items-center col d-flex justify-content-end pe-3 pt-2 text-muted tl-date">
                                        <div class="animate-pulse card-1" style="height: 18px; width: 75%;"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white border col-12 col-xl container-fluid mb-2 mt-2" data-pg-collapsed>
                  <div class="">
                      <div class="d-flex  tl-item">
                          <div class="pb-3 pt-3 tl-content w-100">
                              <div class="d-flex gx-0 justify-content-center row row-cols-5 w-100">
                                  <div class="mb-2">
                                      <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                  </div>
                                  <div class="mb-2">
                                      <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                  </div>
                                  <div class="mb-2">
                                      <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                  </div>
                                  <div class="mb-2">
                                      <div class="animate-pulse card-1 me-auto ms-auto rounded-circle" style="height: 25px; width: 25px;"> </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="bg-white container d-none h-100 pb-4 pt-4">
                <h3>La Viennoiserie</h3>
                <div class="row">
                    <div class="align-items-center d-flex">
                        <img src="assets/img/baby-car-seat.png" width="45" height="45" class=""/>
                        <p class="ps-3">Croissant Beurre</p>
                        <p class="ps-3">3 &euro; 92</p>
                        <form id="number-spinner-horizontal" class="ps-3 t-neutral">
                            <fieldset class="l-contain--medium me-n2 spinner spinner--horizontal">
                                <button class="align-items-center bg-dark border-0 d-flex fw-bolder js-spinner-horizontal-subtract justify-content-center spinner__button spinner__button--left text-light" data-type="subtract" title="Subtract 1" aria-controls="spinner-input">- </button>
                                <input type="number" class="align-items-center d-flex js-spinner-input-horizontal justify-content-center spinner__input" id="spinner-input" value="0" min="0" max="20" step="1" pattern="[0-9]*" role="alert" aria-live="assertlive"/>
                                <button data-type="add" class="align-items-center bg-dark border-0 d-flex fw-bolder js-spinner-horizontal-add justify-content-center spinner__button spinner__button--right text-light" title="Add 1" aria-controls="spinner-input">+ </button>
                            </fieldset>
                        </form>
                        <p class="ps-3">3 &euro; 92</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-6 col-md-12 pe-0 ps-2">
                <div class="border border-2 border-primary d-none flex-column input-group input_search pb-2 pe-3 ps-3 pt-2">
                    <div class="align-items-center d-flex justify-content-center  row">
                        <div class="col text-truncate">
                            <label class="fw-bold ps-3 text-uppercase">nbr de places</label>
                            <input type="text" class="border-0 border-primary form-control me-0" placeholder="0" aria-label="Username">
                        </div>
                        <div class="col-auto d-flex flex-column">
                            <span class="bg-gradient fs-4 fw-bold p-1 rounded-top text-center text-primary">+</span>
                            <span class="fs-4 fw-bold p-1 rounded-bottom text-center text-primary">-</span>
                        </div>
                    </div>
                </div>
                <div class="container pe-xl-5 ps-xl-5 pt-4" id="preloader-route détails" data-pg-collapsed>
                    <div class="bg-white me-xl-0 ms-xl-0 pe-3 pe-lg-0 ps-3 ps-lg-0 pt-2">
                        <div class="gx-0 row">
                            <div class="col-6 p-1">
                                <div class="border border-1 d-flex flex-column justify-content-center p-3 shadow-sm" style="height: 150px;

/* border-radius: 15px */">
                                    <div class="align-items-center d-flex justify-content-between mb-2" data-pg-collapsed>
                                        <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 92%;"> </div>
                                    </div>
                                    <div class="animate-pulse card-1 mt-2" style="height: 14px; width: 70%;"> </div>
                                    <div class="animate-pulse card-1 mt-2" style="height: 14px; width: 87%;"> </div>
                                </div>
                            </div>
                            <div class="col-6 p-1">
                                <div class="border border-1 d-flex flex-column justify-content-center p-3 shadow-sm" style="height: 150px;

/* border-radius: 15px */">
                                    <div class="align-items-center d-flex justify-content-between mb-2" data-pg-collapsed>
                                        <div class="animate-pulse card-1 mt-2" style="height: 18px; width: 92%;"> </div>
                                    </div>
                                    <div class="animate-pulse card-1 mt-2" style="height: 14px; width: 70%;"> </div>
                                    <div class="animate-pulse card-1 mt-2" style="height: 14px; width: 87%;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white border me-xl-0 ms-xl-0 mt-3 p-2">
                        <div id="panels1">
                            <button class="align-items-center bg-white border-0 d-flex mb-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-pg-collapsed>
                                <div class="animate-pulse card-1 mt-2 rounded-circle" style="height: 50px; width: 50px;"> </div>
                                <div class="ps-2 w-100">
                                    <div class="animate-pulse card-1 mt-2" style="height: 26px; width: 100%;"> </div>
                                </div>
                            </button>
                            <button class="align-items-center bg-white border-0 d-flex mb-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-pg-collapsed>
                                <div class="animate-pulse card-1 mt-2 rounded-circle" style="height: 50px; width: 50px;"> </div>
                                <div class="ps-2 w-100">
                                    <div class="animate-pulse card-1 mt-2" style="height: 26px; width: 100%;"> </div>
                                </div>
                            </button>
                            <button class="align-items-center bg-white border-0 d-flex mb-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-pg-collapsed>
                                <div class="animate-pulse card-1 mt-2 rounded-circle" style="height: 50px; width: 50px;"> </div>
                                <div class="ps-2 w-100">
                                    <div class="animate-pulse card-1 mt-2" style="height: 26px; width: 100%;"> </div>
                                </div>
                            </button>
                            <button class="align-items-center bg-white border-0 d-flex mb-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-pg-collapsed>
                                <div class="animate-pulse card-1 mt-2 rounded-circle" style="height: 50px; width: 50px;"> </div>
                                <div class="ps-2 w-100">
                                    <div class="animate-pulse card-1 mt-2" style="height: 26px; width: 100%;"> </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="align-items-center border d-flex gx-0 mt-2 p-3 row">
                        <div class="align-items-center d-flex g-0 row row-cols-2" data-pg-collapsed>
                            <div class="pe-2">
                                <div class="animate-pulse card-1" style="height: 18px; width: 35%;"> </div>
                            </div>
                            <div class="ps-2">
                                <div class="animate-pulse card-1 ms-auto" style="height: 18px; width: 35%;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="border border-2 border-primary d-flex flex-column input-group input_search pb-2 pe-3 ps-3 pt-2">
                        <div class="align-items-center d-flex justify-content-center  row">
                            <div class="col">
                                <label class="fw-bold ps-3 text-uppercase">station/gare</label>
                                <input type="text" class="border-0 border-primary form-control me-0" placeholder="Point de départ" aria-label="Username">
                            </div>
                            <div class="col-auto d-flex flex-column">
                                <span class="bg-gradient fs-4 fw-bold p-1 rounded-top text-center text-primary">+</span>
                                <span class="fs-4 fw-bold p-1 rounded-bottom text-center text-primary">-</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none mt-5">
                    <div class="bg-white container-fluid mb-1 mt-1 pb-4 pt-4">
                        <p class="fs-5 pb-3 text-muted">Liste des points les plus proches de votre addresse :</p>
                        <div class="list-group">
                            <a href="#" class="border-2 border-end border-end-0 border-start-0 border-top-0 d-flex flex-column justify-content-center list-group-item list-group-item-action"> <div class="d-flex justify-content-between w-100">
                                    <h5 class="fw-light mb-1"><i class="fa-map-marker-alt fas pe-3"></i>69 rue du chemin</h5>
                                    <small class="mb-auto mt-auto">20 km</small>
                                </div> </a>
                            <a href="#" class="border-2 border-bottom border-end-0 border-start-0 border-top-0 d-flex flex-column justify-content-center list-group-item list-group-item-action"> <div class="d-flex justify-content-between w-100">
                                    <h5 class="fw-light mb-1"><i class="fa-map-marker-alt fas pe-3"></i>75001 rue nanterre</h5>
                                    <small class="mb-auto mt-auto">20 km</small>
                                </div> </a>
                            <a href="#" class="border-2 border-bottom border-end-0 border-start-0 border-top-0 d-flex flex-column justify-content-center list-group-item list-group-item-action"> <div class="d-flex justify-content-between w-100">
                                    <h5 class="fw-light mb-1"><i class="fa-map-marker-alt fas pe-3"></i>75001 rue nanterre</h5>
                                    <small class="mb-auto mt-auto">20 km</small>
                                </div> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 pe-0 ps-0">
                <div class="container d-none h-100 pb-4 pt-4">
                    <h3>La Viennoiserie</h3>
                    <div class="row">
                        <div class="align-items-center d-flex">
                            <img src="assets/img/baby-car-seat.png" width="45" height="45" class=""/>
                            <p class="ps-3">Croissant Beurre</p>
                            <p class="ps-3">3 &euro; 92</p>
                            <form id="number-spinner-horizontal" class="ps-3 t-neutral">
                                <fieldset class="l-contain--medium me-n2 spinner spinner--horizontal">
                                    <button class="align-items-center bg-dark border-0 d-flex fw-bolder js-spinner-horizontal-subtract justify-content-center spinner__button spinner__button--left text-light" data-type="subtract" title="Subtract 1" aria-controls="spinner-input">- </button>
                                    <input type="number" class="align-items-center d-flex js-spinner-input-horizontal justify-content-center spinner__input" id="spinner-input" value="0" min="0" max="20" step="1" pattern="[0-9]*" role="alert" aria-live="assertlive"/>
                                    <button data-type="add" class="align-items-center bg-dark border-0 d-flex fw-bolder js-spinner-horizontal-add justify-content-center spinner__button spinner__button--right text-light" title="Add 1" aria-controls="spinner-input">+ </button>
                                </fieldset>
                            </form>
                            <p class="ps-3">3 &euro; 92</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</div>
