
<!-- <section class="h-100">
  <div class="h-100 row g-0">
      <div class="col-lg-3 col-md-3 pe-0 ps-0">
</div>
      <div class="col-lg-6 col-md-6 pb-lg-3 pe-0 pe-lg-5 ps-0 ps-lg-5 pt-4 ">
        <div *ngFor="let checklist of checklists" class=" pb-lg-3 pointer" >
          <app-checklist-card [routerLink]="['/checklist',checklist.id]" routerLinkActive="router-link-active"  [checklist]="checklist" class="pointer"></app-checklist-card>

        </div>


      </div>
      <div class="col-lg-3 col-md-3 pe-0 ps-0">
</div>
</div>
</section> -->

<div  *ngIf="checklists && checklists.length > 0" class="container-fluid container_checklist pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
  <section>
      <div class="gx-0 row">
          <div class="col-lg-3 pe-2 pe-xl-4 ps-2">
            <div class="h-auto position-sticky  top-0">
              <app-home-ads></app-home-ads>
            </div>
          </div>

          <div class="col-lg-9 col-xl-6 column_center pe-0 pe-lg-5 pe-xl-3 ps-0 ps-lg-5 ps-xl-3 pb-4">
            <div class="align-items-center bg-white d-flex flex-column mb-3 p-3 text-black-50">
                <div class="d-flex justify-content-start w-100">
                    <button (click)="screen_archived(isArchived)"  type="button" class="btn btn-outline-success me-1 rounded-pill  border-success">
                        <i class="fa-file-archive fas pe-1"></i> {{(isArchived ? 'my_journeys' : "Archived_Journey" )| translate}}
                    </button>
                    <button routerLink="/checklist/creation" type="button" class="btn btn-outline-primary ms-1 rounded-pill  border-2 border-primary">
                        <i class="fa-plus fas pe-1"></i>{{'Add_a_journey' | translate}}
                    </button>
                </div>
            </div>
            <div class="align-items-center col container-fluid d-flex fs-5 fw-bold mb-xl-2 pb-2 pe-4 ps-4 pt-3 text-truncate text-wrap">
              <p class="fs-4 pe-0">{{(isArchived ? 'archived_journeys' : "acive_checklists") | translate}}</p>
            </div>
            <div *ngFor="let checklist of checklists" class=" pb-lg-3 pointer" >
              <div class="border-b">
                <app-checklist-card [routerLink]="['/checklist',checklist.id]" routerLinkActive="router-link-active"  [checklist]="checklist" class="pointer"></app-checklist-card>
              </div>

              <!-- <app-route-card [routerLink]="['/mes-trajets', reservation.id]" routerLinkActive="router-link-active"  [route] = "reservation" [curStatus] = "status"></app-route-card> -->
            </div>
          </div>
          <div class="col-lg-3 pe-2 pe-xl-4 ps-2">
            <div class="h-auto position-sticky  top-0">
                  <app-home-ads image = "https://images.unsplash.com/photo-1571175081012-fbb2d3ba5b90?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fFR1bmlzaWV8ZW58MHx8fHwxNjMzODE3ODM5&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
              </div>
          </div>
          </div>
  </section>
</div>

<app-preloader-checklist-list *ngIf="!checklists"></app-preloader-checklist-list>

<div *ngIf="checklists && checklists.length === 0"  class="vh-100">
  <app-empty-page [btn2_text]="(isArchived ? 'my_journeys' : 'Archived_Journey') | translate" (btn2_clicked)="screen_archived(isArchived)" route_btn1="checklist/creation" [btn1_text]="'Add_a_journey'" [title] = "'Aucun_Trajet_reserve'"  *ngIf="checklists && checklists.length === 0" title_class="fs-5"></app-empty-page>
</div>
