<div class="bg-white p-3">


    <div class="bg-white d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Horaires de la station ({{drive_base && drive_base.length > 0 && drive_base[0].pointA.address }})</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <app-button (click)="del_modal.datas = getAllChecked(selected_data) " *ngIf="getAllChecked(selected_data).length > 0" class_="fas fa-trash" btn_class = "btn btn-outline-primary  btn-light" text="Suprimer" data-bs-toggle="modal" data-bs-target="#deleteModal"> </app-button>
        <app-button class_="fas fa-plus" btn_class = "btn btn-outline-primary  btn-light" text="Ajouter" data-bs-toggle="modal" data-bs-target="#modalAddDrive"> </app-button>
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddPoint" >Ajouter</button> -->

      </div>
    </div>
    <div class="table-responsive">
    </div>

    <div class="container mt-3 px-2">
      <div class="mb-2 d-flex justify-content-between align-items-center">
          <div class="pl-2 position-relative d-flex align-items-center">
            <input #search_input (change)="change()" [(ngModel)]="search_option" type="search"  class="form-control w-auto" placeholder="Recherche...">
            <span class=" ps-3 w-auto"><b>{{drive_base && drive_base.length }}</b> drive_base</span>
          </div>
          <div class="px-2 d-flex align-items-center">
              <span class="pe-3">Filter par :  </span>
              <select   style="min-width: 100px;"   style="min-width: 100px;"  #select value="id"  [(ngModel)]="sort_option" class=" pe-3 form-select w-auto h-100" id="inputGroupSelect01">
                <option value="id" selected>Identifiant</option>
                <option value="country">Pays</option>
                <option value="city">Ville</option>
                <option value="address">Adresse</option>
                <option value="update_at">Derniere Modification</option>
                <option value="type">Type</option>
            </select>
          </div>
      </div>


      <div class="table-responsive">
          <table class="table table-hover table-responsive table-borderless">
              <thead>
                  <tr class="bg-light">
                      <th scope="col" width="5%">
                          <input   (change)="selectOrUnselectAll(input_.checked, drive_base)" [checked]="isAllchecked(selected_data)" #input_ class="form-check-input" type="checkbox">
                      </th>
                      <th scope="col" width="5%">#</th>
                      <th scope="col" width="20%">Date de creation</th>
                      <!-- <th>Image</th> -->
                      <th>Transport</th>
                      <th class="text-end">Places totals</th>
                      <th class="text-end">Places libres</th>
                      <th>Point d'arrivé ?</th>
                      <th class="text-end">Date</th>
                      <th class="text-end">Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr  routerLinkActive="router-link-active"  *ngFor="let d_base of getDrive_Base() | orderBy:  select.value | filterBy: ['to_station', 'places','date']: search_input.value  let i = index" class="">
                    <!-- <p>{{getDrive_Base() | json }}</p> -->
                      <th scope="row">
                          <input #inp (change)="selectOrUnselect(inp.checked, i)"  [checked]="selected_data[i] && selected_data[i].selected"  class="form-check-input" type="checkbox">
                      </th>
                      <td [routerLink]="['/point1', d_base.id]">{{d_base.id}}</td>
                      <td [routerLink]="['/point1', d_base.id]">{{d_base.updated_at |date}}</td>
                      <!-- <td [routerLink]="['/point1', d_base.id]">
                          <img src="https://i.imgur.com/VKOeFyS.png" width="25">
                      </td> -->
                      <td ><i class="fa fa-check-circle-o green"></i><span class="ms-1">{{d_base.id_car}}</span></td>
                      <td ><span class="ms-1">{{d_base.total_places}}</span></td>
                      <td  class="fw-bold text-end"><span class="fw-normal">{{d_base.places}}</span> </td>
                      <td  class="fw-bold text-end"><span class="fw-normal">{{!d_base.to_station ? 'Non' : 'Oui'}}</span> </td>
                      <td  class="fw-bold text-end"><span class="fw-normal">{{d_base.date | date : 'medium'}}</span> </td>
                      <td  class="text-end"><span class="fw-normal">
                        <a [routerLink]="['trajet', d_base.id]" class="pointer pe-2">Editer</a>
                        <a (click)="duplicate(d_base)" class="pointer pe-2">Dupliquer</a>
                        <!-- <a (click)="wantDel(route)" data-bs-toggle="modal" data-bs-target="#newfileModal" class="pointer pe-2">Dupliquer</a> -->
                      <!-- <i (click)="wantDel(route)" class="fa-trash-alt fas fs-4 text-danger pointer" data-bs-toggle="modal" data-bs-target="#deleteModal"></i> -->
                      <!-- <a  [routerLink]="['/horraires_stations', d_base.id]" class="pointer ps-2" *ngIf="d_base.is_station">Gérer</a> -->
                      </span> </td>
                  </tr>

              </tbody>
          </table>
          <!-- <div class="d-flex">
              <ul class="ms-auto pagination">
                  <li (click)="navigateToPage(currentPage === 0 ? 0 : currentPage - 1)" class="page-item"  [ngClass]="{'disable': currentPage === 0, 'pointer': currentPage > 0}">
                      <a class="page-link" >Précedent</a>
                  </li>
                  <li (click)="navigateToPage(i)" *ngFor="let point of  pagination let i = index" class="page-item" [ngClass]="{'active': currentPage === i, 'pointer': currentPage !== i}">
                      <a  class="page-link " >{{i+1}}</a>
                  </li>

                  <li (click)="navigateToPage(currentPage === pagination && pagination.length - 1 ? currentPage : currentPage + 1)" class="page-item" [ngClass]="{'disable': currentPage === pagination && pagination.length - 1, 'pointer': !(currentPage < pagination && pagination.length - 1)}">
                      <a class="page-link" >Suivant</a>
                  </li>
              </ul>
          </div> -->

          <div class="d-flex">
            <ul class="ms-auto pagination">
              <!-- Previous Button -->
              <li 
                (click)="navigateToPage(currentPage === 0 ? 0 : currentPage - 1)" 
                class="page-item"  
                [ngClass]="{'disable': currentPage === 0, 'pointer': currentPage > 0}">
                <a class="page-link">Précédent</a>
              </li>
          
              <!-- First Page -->
              <li 
                *ngIf="showFirstPage()" 
                (click)="navigateToPage(0)" 
                class="page-item" 
                [ngClass]="{'active': currentPage === 0, 'pointer': currentPage !== 0}">
                <a class="page-link">1</a>
              </li>
          
              <!-- Left Ellipsis -->
              <li 
                *ngIf="showLeftEllipsis()" 
                class="page-item disabled">
                <a class="page-link">...</a>
              </li>
          
              <!-- Middle Pages -->
              <li 
                *ngFor="let i of getMiddlePages()" 
                (click)="navigateToPage(i)" 
                class="page-item" 
                [ngClass]="{'active': currentPage === i, 'pointer': currentPage !== i}">
                <a class="page-link">{{ i + 1 }}</a>
              </li>
          
              <!-- Right Ellipsis -->
              <li 
                *ngIf="showRightEllipsis()" 
                class="page-item disabled">
                <a class="page-link">...</a>
              </li>
          
              <!-- Last Page -->
              <li 
                *ngIf="showLastPage()" 
                (click)="navigateToPage(pagination.length - 1)" 
                class="page-item" 
                [ngClass]="{'active': currentPage === pagination.length - 1, 'pointer': currentPage !== pagination.length - 1}">
                <a class="page-link">{{ pagination.length }}</a>
              </li>
          
              <!-- Next Button -->
              <li 
                (click)="navigateToPage(currentPage === pagination.length - 1 ? currentPage : currentPage + 1)" 
                class="page-item" 
                [ngClass]="{'disable': currentPage === pagination.length - 1, 'pointer': currentPage < pagination.length - 1}">
                <a class="page-link">Suivant</a>
              </li>
            </ul>
          </div>
          
      </div>
    </div>
</div>





<!-- <app-point-create ></app-point-create> -->
<app-modal-create-drive [id] = 'id' (trajectCreated)="projectAdded($event)"></app-modal-create-drive>

<app-modal-delete-admin #del_modal [dataType]="datatype" (onDeleted)="toast_c.open('Be Somewhere', 'Point(s) suprimé (s)')"></app-modal-delete-admin>
<app-toast #toast_c></app-toast>
                      <!-- <i (click)="wantDel(route)" class="fa-trash-alt fas fs-4 text-danger pointer" data-bs-toggle="modal" data-bs-target="#deleteModal"></i> -->
<!-- <app-modal-new-file #duplicate [datas] = "[data_to_del]" [dataType]="dataType" (onDuplicated)="onDuplicated($event)"></app-modal-new-file> -->
<app-loading-page *ngIf="loading_d"></app-loading-page>
<app-preloader></app-preloader>
