<div *ngIf="article">
  <form  (submit)="onSumit()" [formGroup]="formArticle">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" data-pg-collapsed>
      <h1 class="h2">{{id ? 'Article #'+id : 'Creation'}}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <form action="">
          <app-button  *ngIf="id"  (click)="data_to_del = article"  type ="hidden" class_="fas fa-trash-alt "  btn_class ="btn   btn-danger "   data-bs-toggle="modal" data-bs-target="#deleteModal" text="Supprimer"></app-button>
        </form>

         <div class="ps-2">

           <app-button [loading]="loading1"  class_="fas fa-save" btn_class ="btn btn-outline-primary text-white" text="Enregistrer"></app-button>
         </div>
      </div>
    </div>


    <div class=" table-responsive">
      <div class="gx-0 pe-5 ps-5 row row-cols-2" data-pg-collapsed>
          <div class="col-12 p-2">
              <div class="bg-white container p-4">
                  <div class="gx-0 row row-cols-2">
                      <div class="col-8 form-floating pe-2 ps-0">
                          <input type="text" formControlName="title" name="title" class="border form-control" id="floatingInput" placeholder="name@example.com">
                          <label for="floatingInput">Titre</label>
                      </div>

                  </div>


                  <div class="bg-white container mb-3 mt-2 pb-3 pe-4 pt-2">

                    <div class="gx-0 mb-2 row">
                        <div class="form-floating ">
                            <input type="email" list="datalistCategories" formControlName="category_name" (change)="onCategoryChange($event)" class="border form-control" id="floatingInput" placeholder="name@example.com">
                            <datalist id="datalistCategories">
                              <option  *ngFor="let category of articleCategories" onchange="onCategoryChange()" [value]="category.name">
                              </datalist>
                            <label for="floatingInput">Categorie</label>
                        </div>
                    </div>

                </div>



                  <label for="floatingTextarea" class="pt-3">Details</label>
                  <quill-editor
                  formControlName="content"
                  (onContentChanged)="logChange($event);"
                  (onSelectionChanged)="logSelection($event);">></quill-editor>

                  <select formControlName="status" class="form-control mt-3" >
                    <option value="publish">Publique</option>
                    <option value="private">Privé</option>
                  </select>

                  <div class="border form-floating mb-3 mt-3">
                    <app-upload [just_for_file] ="true" *ngIf="article_img != undefined" [for_wp_server]="true" [uploads_datas]="[article_img]" [url]="'https://besomewhereapp.com/?rest_route=/wp-json/mmbyapi/v1/upload-multiple-images'" (fileDeleted)="file_deleted($event)" (fileUploaded)="file_uploaded($event)"></app-upload>
                  </div>

                  <input type="hidden" formControlName="author" value="0">
                  <input type="hidden" formControlName="featured_media" value="0">
                  <input type="hidden" formControlName="categories" name="" value="0">
              </div>
          </div>



      </div>
    </div>
  </form>
  <app-toast title="Trajet non trouvé"></app-toast>
  <app-modal-delete #delete_modal [datas] = "[data_to_del]" [dataType]="dataType" (onDeleted)="onFileDeleted($event)"></app-modal-delete>
</div>

 <!-- <p>Form value: {{ formArticle && formArticle.value | json }}</p> -->
<!-- <p>Form status: {{ formArticle && formArticle.status | json }}</p> -->
<!-- <p>Form value2: {{ formArticle && formArticleAround.value | json }}</p> -->
<!-- <p>Form status2: {{ formArticle && formArticleAround.status | json }}</p> -->


<app-loading-page *ngIf="!article" class="h-100"></app-loading-page>
<app-preloader></app-preloader>
