<!-- <section class="border-3 border-primary pt-2 pt-lg-0 section_blog section_n">
  <h3 class="d-md-none fs-4 fw-bold pb-2 ps-4 ps-lg-0 pt-3 pt-lg-4 text-uppercase">Articles récents</h3>
  <div class="container-fluid p-lg-0 pb-0 pe-3 ps-3 pt-0 pb-4">
      <div class="gx-0 row row-cols-2 row-cols-sm-3">
          <div class="pe-2 ps-2">
              <div class="card">
                  <div class="image-wrapper">
                      <img src='https://images.unsplash.com/photo-1533587851505-d119e13fa0d7?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDF8fHRvdXJpc218ZW58MHx8fHwxNjMzNzk2NTE1&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=300&fit=crop' alt='Beautiful woman face by Oleg Gekman on 500px.com' class="h-100 w-100">
                  </div>
                  <div class="text-box-wrapper">
                      <div class="text-box">
                          <h4>
Fashion Week Styles
</h4>
                      </div>
                  </div>
                  <div class="button-wrapper">
                      <a class="button " href="" target="_pg_blank">15&nbsp; DEC 2021</a>
                  </div>
                  <div class="button-wrapper">
</div>
              </div>
          </div>
          <div class="pe-2 ps-2">
              <div class="card">
                  <div class="image-wrapper">
                      <img src='https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDEwfHxtYXB8ZW58MHx8fHwxNjMzNzg5OTQy&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=300&fit=crop' alt='Beautiful woman face by Oleg Gekman on 500px.com' class="h-100 w-100">
                  </div>
                  <div class="text-box-wrapper">
                      <div class="text-box">
                          <h4>Comment Préparer son voyage</h4>
                      </div>
                  </div>
                  <div class="button-wrapper">
                      <a class="button " href="" target="_pg_blank">15&nbsp; DEC 2021</a>
                  </div>
              </div>
          </div>
          <div class="pe-2 ps-2">
              <div class="card">
                  <div class="image-wrapper">
                      <img src='https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDF8fGZyYW5jZXxlbnwwfHx8fDE2MzM3OTY1MDQ&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=300&fit=crop' alt='Beautiful woman face by Oleg Gekman on 500px.com' class="h-100 w-100">
                  </div>
                  <div class="text-box-wrapper">
                      <div class="text-box">
                          <h4>Tout sur la France</h4>
                      </div>
                  </div>
                  <div class="button-wrapper">
                      <a class="button " href="" target="_pg_blank">15&nbsp; DEC 2021</a>
                  </div>
                  <div class="button-wrapper">
</div>
              </div>
          </div>
      </div>
  </div>
</section> -->



<carousel *ngIf="articles && articles.length > 0" [itemsPerSlide]="isMobileDevice() ? 2 :3"  [interval]="0" [noWrap]="true">
    <slide *ngFor="let article of articles">
        <div [routerLink]="['/article', article.id]" class="pe-2 ps-2 pointer">
            <div class="card">
              <div *ngIf="article.status != 'publish' && !has_suscribed" class="article_eti">{{'premium' | translate}}</div>
              <div class="image-wrapper">
                  <!-- <img [src]="article._embedded['wp:featuredmedia'] ?  article._embedded['wp:featuredmedia'][0] && article._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url : ''" class="h-100 w-100"> -->
                    <!-- <app-preloader-img  [src]="article._embedded['wp:featuredmedia'] ?  article._embedded['wp:featuredmedia'][0] && article._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url : ''"  [height_]="'300px'"></app-preloader-img> -->
                    <app-preloader-img  [src]="article._embedded['wp:featuredmedia'] ?  article._embedded['wp:featuredmedia'][0] && article._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url : ''"  [height_]="'300px'" [width_]="'100%'"></app-preloader-img>
            </div>
                <div class="text-box-wrapper">
                    <div class="text-box">
                        <h4 [innerHTML]="(article.title.rendered)  | shorten: 20 : '...'"></h4>
                    </div>
                </div>
                <div class="button-wrapper">
                    <a class="button " href="" target="">{{article.date | date}}</a>
                </div>
            </div>
          </div>
    </slide>
    
  </carousel>
<!-- <owl-carousel-o [options]="customOptions">
  <ng-template *ngFor="let article of articles" class="bg-primary" carouselSlide>
    <div [routerLink]="['/article', article.id]" class="pe-2 ps-2 pointer">
      <div class="card">
        <div *ngIf="article.status != 'publish' && !has_suscribed" class="article_eti">Payant</div>
        <div class="image-wrapper">
            <img [src]="article._embedded['wp:featuredmedia'] ?  article._embedded['wp:featuredmedia'][0] && article._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url : ''" class="h-100 w-100">
          </div>
          <div class="text-box-wrapper">
              <div class="text-box">
                  <h4>{{article.title.rendered | shorten: 20 : '...'}}</h4>
              </div>
          </div>
          <div class="button-wrapper">
              <a class="button " href="" target="">{{article.date | date}}</a>
          </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o> -->

<p class="text-end pe-2 mt-n3 pt-4 pointer" ><a [routerLink]="['/article']" style="position: relative;z-index: 15;width: 100%!important;" href="google.com"> {{'See_more' | translate}}...</a></p>


<section *ngIf="!articles" class="border-2 border-primary pt-2 pt-lg-0 section_blog section_n">
  <div class="container-fluid p-lg-0 pb-0 pe-3 ps-3 pt-0">
      <div class="gx-0 pb-2 row row-cols-2 row-cols-sm-3">
          <div class="pe-2 ps-2">
              <div class="card">
                  <div class="image-wrapper pt-2">
                      <div class="animate-pulse card-1" style="height: 177px;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px; width: 75%;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px; width: 25%;"> </div>
                  </div>
                  <div class="text-box-wrapper">
                      <div class="text-box">
</div>
                  </div>
                  <div class="button-wrapper">
</div>
                  <div class="button-wrapper">
</div>
              </div>
          </div>
          <div class="pe-2 ps-2">
              <div class="card">
                  <div class="image-wrapper pt-2">
                      <div class="animate-pulse card-1" style="height: 177px;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px; width: 75%;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px; width: 25%;"> </div>
                  </div>
                  <div class="text-box-wrapper">
                      <div class="text-box">
</div>
                  </div>
                  <div class="button-wrapper">
</div>
                  <div class="button-wrapper">
</div>
              </div>
          </div>
          <div class="pe-2 ps-2">
              <div class="card">
                  <div class="image-wrapper pt-2">
                      <div class="animate-pulse card-1" style="height: 177px;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px; width: 75%;"> </div>
                      <div class="animate-pulse card-1 mt-2" style="height: 15px; width: 25%;"> </div>
                  </div>
                  <div class="text-box-wrapper">
                      <div class="text-box">
</div>
                  </div>
                  <div class="button-wrapper">
</div>
                  <div class="button-wrapper">
</div>
              </div>
          </div>
      </div>
  </div>
</section>

