<div id="number-spinner-horizontal" [class]="class_">
<!-- <div id="number-spinner-horizontal" class="align-items-center d-flex justify-content-center pb-4 pe-2 ps-2 pt-4 t-neutral"> -->
  <fieldset class="l-contain--medium spinner spinner--horizontal">
      <label *ngIf="label != ''" for="spinner-input" class="pb-1 pe-2 spinner__label">{{label | translate }}</label>
      <button [disabled] = "value === 0" (click)="setValue(-1)" class="align-items-center bg-dark border-0 d-flex fw-bolder js-spinner-horizontal-subtract justify-content-center spinner__button spinner__button--left text-white" data-type="subtract" title="Subtract 1" aria-controls="spinner-input">- </button>
      <input type="number" (blur)="onBlur()"    (keyup)="onKeyPress()"   [value]="'500'"  [(ngModel)]="value" (input) = "getValue($event)" class="align-items-center d-flex js-spinner-input-horizontal justify-content-center spinner__input" id="spinner-input" value="0" min="0" [max]="max_value"  step="1" pattern="[0-9]*" role="alert" aria-live="assertlive"/>
      <button [disabled] = "value === max_value"  (click)="setValue(+1)"   data-type="add" class="align-items-center bg-dark border-0 d-flex fw-bolder js-spinner-horizontal-add justify-content-center spinner__button spinner__button--right text-white" title="Add 1" aria-controls="spinner-input">+ </button>
  </fieldset>
  
</div>
<div *ngIf="this.value > this.max_value" class="invalid-form mb-3"> {{ 'vous ne pouvez pas obtenir de ' + max_value}}</div>
