.div-ask button {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #e9e4e4;
}

.div-ask button:hover {
    background-color: #cbc9c9!important;
}

.end-0{
  right: -7px !important;
}

select{
  height: 45px;
  border-radius: 30px;
}
