
<!-- <div class="align-items-center bg-white d-flex end-0 h-100 justify-content-center position-fixed start-0 top-0 w-100" style="z-index: 1026;">
  <div class="align-items-center d-flex flex-column justify-content-center">
      <img src="assets/img/570726f9398849aa200fbcba9466f9f2.gif" width="35%" height="35%"/>
      <p class="fs-1 fw-bold">Chargement...</p>
  </div>
</div> -->
<div *ngIf="!want_back_office">
  <app-nav-bar></app-nav-bar>

  <app-stripe-form></app-stripe-form>
  <!-- <router-outlet></router-outlet> -->


  <app-modal-login></app-modal-login>
  <app-modal-register></app-modal-register>


  <app-toast></app-toast>

</div>


<div *ngIf="want_back_office && isAdmin">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" data-pg-collapsed>
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="" target="_pg_blank">BESOMEWHERE</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="px-3 d-flex">
        <li class="nav-item text-nowrap">
            <!-- <a style="color: white!important;" class="nav-link" href="#">Deconnexion</a> -->
        </li>
        <li class="nav-item text-nowrap">
            <a style="color: white!important;" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link" href="#">Aller au site</a>
        </li>
    </ul>
  </header>
  <div class="container-fluid" data-pg-collapsed>
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light p-0 sidebar collapse" data-pg-collapsed>
        <app-nav-bar-admin></app-nav-bar-admin>
      </nav>
      <main class="col-lg-10 col-md-9 ms-sm-auto px-md-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<!-- <app-preloader></app-preloader> -->