
<!-- <div class="align-items-center bg-white d-flex end-0 h-100 justify-content-center position-fixed start-0 top-0 w-100" style="z-index: 1026;">
  <div class="align-items-center d-flex flex-column justify-content-center">
      <img src="assets/img/570726f9398849aa200fbcba9466f9f2.gif" width="35%" height="35%"/>
      <p class="fs-1 fw-bold">Chargement...</p>
  </div>
</div> -->
<!-- <button (click)="generateICSFile(
  'Réunion importante',
  'Discussion stratégique sur le projet X',
  'Bureau principal, Salle 101',
  ('2024-02-15T09:00:00'),
  ('2024-02-15T10:00:00')
)">
  Ajouter à mon calendrier
</button> -->

<div *ngIf="!want_back_office">
  <app-nav-bar></app-nav-bar>

  <!-- <app-stripe-form></app-stripe-form> -->
  <router-outlet></router-outlet>


  <app-modal-login></app-modal-login>
  <app-modal-register></app-modal-register>
  <!-- <p [innerHTML]="email"></p>
  <p [innerHTML]="'sdsdsdsdsddsdsdsdsdsdsd'"></p>
  <p [innerHTML]="'sdsdsdsdsddsdsdsdsdsdsd'"></p>
  <p [innerHTML]="'sdsdsdsdsddsdsdsdsdsdsd'"></p>
  <p [innerHTML]="'sdsdsdsdsddsdsdsdsdsdsd'"></p>
  <p [innerHTML]="'sdsdsdsdsddsdsdsdsdsdsd'"></p>
  <p [innerHTML]="emailCMD"></p> -->

  <app-toast></app-toast>

</div>


<div *ngIf="(want_back_office && isAdmin) || want_see_reservation">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" data-pg-collapsed>
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="" target="_pg_blank">BESOMEWHERE</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <ul class="px-3 d-flex">
        <li class="nav-item text-nowrap">
            <!-- <a style="color: white!important;" class="nav-link" href="#">Deconnexion</a> -->
            <div class="align-items-center d-flex dropdown h-auto" style="height: 13px !important;">
              <button (click)="toggleDropdown()" class="border-0 fs-6 btn dropdown-toggle fw-bold pt-2 dropdown-btn" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false" type="button" data-bs-trigger="hover">{{'fdfdfdfdffdfdf'}}</button>
      
                <ul class="dropdown-menu" id="myDropdown" aria-labelledby="dropdown1">
                    <li>
                        <a [routerLink]="['/profil']" routerLinkActive="router-link-active"  class="dropdown-item" >{{'Nav_Profile' | translate}}</a>
                    </li>
                    <hr>
                    <li>
                        <a  class="dropdown-item text-danger pointer" >{{'Nav_Logout' | translate}}</a>
                    </li>
                </ul>
            </div>
            
        </li>
        <li class="nav-item text-nowrap">
            <a style="color: white!important;" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link" href="#">Aller au site</a>
        </li>
    </ul>
  </header>
  <div class="container-fluid" data-pg-collapsed>
    <div class="row">
      <nav *ngIf="!want_see_reservation" id="sidebarMenu" class="col-md-3 col-lg-2 d-lg-block bg-light p-0 sidebar collapse" data-pg-collapsed>
        <app-nav-bar-admin></app-nav-bar-admin>
      </nav>
      
      <main class="col-12 col-md-12 col-lg-10 p-0 col-md-10 ms-sm-auto px-md-0">
        <router-outlet></router-outlet>

      </main>
    </div>
  </div>
</div>

<!-- <app-preloader></app-preloader> -->