<div >
  <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107" data-pg-collapsed>
      <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i>
      <input [(ngModel)]="value" (input) = "change(value)" on-focus="focusFunction()" on-focusout="focusOutFunction()" type="text"  class="border-white form-control fs-6 mb-n1 text-truncate" id="floatingInput" placeholder="station/gare">
      <label for="floatingInput" class="fs-5 fw-normal mt-n1 ps-4 text-truncate w-100">{{label}}</label>
  </div>
  <div *ngIf="focus" class="bg-white border-bottom border-end border-start border-top container mt-2 p-0 position-absolute search-box-input" style="z-index: 50; top: 45px; right: 0px; width: 100%;">
      <div class="list-group list-group-flush list-group-numbered">
          <a *ngFor="let point of data let i = index" (click)="setText(i)" class="list-group-item list-group-item-action pt-3 pb-3 pointer truncate" >{{point.address+ ' , '+point.city+ ' , '+ point.country}}</a>
      </div>
  </div>
</div>
