



<div class="fade modal" id="modalUpdatePlace" tabindex="-1" role="dialog" aria-hidden="true" data-bs-keyboard="false" data-pg-collapsed>
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="background-color: rgba(255, 255, 255, 0);">
          <div class="align-items-center d-flex flex-column">
              <div class="bg-white border-5 border-end border-primary border-top d-flex justify-content-center mb-n5" style="width: 85px; height: 85px; border-radius: 50%; z-index: 1;">
                  <img src="assets/img/icon/BESOMEWHERE.png" height="65" class="image-fit mb-3" width="65" style="z-index: 2;"/>
              </div>
              <div class="bg-white border-3 border-primary">
                  <div class="border-0 modal-header pb-2">
                      <h4 class="me-auto modal-title ms-auto pt-4" style="z-index: 3;">Modification Horaire # {{route && route.id}}</h4>
                  </div>

                  <form id="drive_form" (ngSubmit)="onSubmitRoute()" [formGroup]="formGroupRoute">
                    <div class="bg-white container mb-3 mt-2 pe-4 ps-4 pt-2">


                        <div class="gx-0 mb-2 row">
                            <div class="form-floating ">
                                <label for="floatingInput" class="pt-2">Places</label>
                                <input  list="point_a_list" formControlName="places"   type="text" class="form-control" id="floatingInput" placeholder="d">
                            </div>
                        </div>
                    </div>
                    <div class="border-0 d-flex justify-content-center modal-footer">
                      <!-- <button type="reset" class="border-2 btn btn-light" >Annuler</button>
                      <button  type="submit" class="btn btn-primary ps-2 text-light" >
                          <i class="fa-trash-alt fas pe-2"></i>Enregistrer
                      </button> -->
                      <!-- <app-button  data-bs-dismiss="modal" type = 'button'  btn_class = "btn btn-light text ps-2 border-1 border-dark  h-auto fw-normal" text="Annuler" id = "close_btn"></app-button> -->
                      <button id="close_btn" type="reset" class="border border-2 btn btn-light" data-bs-dismiss="modal">Annuler</button>
                      <app-button de [loading] = "loading" btn_class = "btn btn-primary ps-2 text-light h-auto text-l" text="Enregistrer"></app-button>
                  </div>

                </form>
              </div>

          </div>

      </div>
  </div>
  <app-toast title="Besomewhere"></app-toast>
</div>


