<div class="modal fade pg-show-modal" id="modal1" tabindex="-1" role="dialog" aria-hidden="true" data-pg-collapsed>
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form (ngSubmit)="onSubmit()" [formGroup]="formUser" novalidate>
            <div class="bootdey bootstrap container pt-3 snippets" data-pg-collapsed>
                <h1 class="text-primary">Edition du Profil</h1>
                <hr>
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-3">
                        <!-- <div class="text-center">
                            <img [src]="user.image ? user.image :'../../../assets/img/empty_profil.jpg'" class="avatar img-circle img-thumbnail" alt="avatar">
                            <input formControlName="image" type="file" class="form-control">
                        </div> -->
                        <app-upload (fileUploaded)="getImage($event)" [just_for_file]="true" [src]="user.image ? user.image :'../../../assets/img/empty_profil.jpg'"></app-upload>
                    </div>
                    <!-- edit form column -->
                    <div class="col-md-9 personal-info">
                        <h3>Informations personnelles</h3>
                        <div data-pg-collapsed class="w-75">
                            <div class="mb-3">
                                <div class="border border-1 input-group">
                                  <div style="background: #e9ecef;" class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                    <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                    <input style="border: none;" formControlName="name" type="text" class="border-white form-control fs-6 text-truncate" id="username_input" placeholder="Pays" readonly>
                                    <label for="username_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Pseudo</label>
                                  </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="border border-1 input-group me-2">
                                  <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                    <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                    <input formControlName="first_name" type="text" class="border-white form-control fs-6  text-truncate" id="first_name_input" placeholder="Pays">
                                    <label for="first_name_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Nom</label>
                                  </div>
                                </div>

                                <div class="border border-1 input-group ms-2">
                                  <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                    <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                    <input formControlName="last_name" type="text" class="border-white form-control fs-6  text-truncate" id="lastname_input" placeholder="Pays">
                                    <label for="lastname_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Prénom</label>
                                  </div>
                                </div>
                            </div>
                            <div class="mb-3">
                              <div style="background: #e9ecef;"  class="border col-12 col-lg d-flex h-100 input-group 1input_search pb-1  pt-1" data-pg-collapsed>
                                <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                  <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                  <input style="border: none;" readonly [disabled]="true" formControlName="email" type="email" class="border-white form-control fs-6  text-truncate" id="email_input" placeholder="Pays">
                                  <label for="email_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Email</label>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex gx-0 row row-cols-3 w-100">
                                <p class="pb-2 pt-1 text-black-50 text-start w-100">Adresse</p>
                                <div class=" pe-1">
                                    <div class="border col-12 col-lg d-flex h-100 input-group 1input_search pb-1  pt-1" data-pg-collapsed>
                                      <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                        <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                        <input formControlName="country" (change)="countrySelected($event)" list="countrydatalistOptions" class="border-white form-control fs-6  text-truncate" id="county_input" placeholder="Pays">
                                        <label for="county_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Pays</label>
                                        <datalist id="countrydatalistOptions">
                                          <option  *ngFor="let country of countries" [value]="country.translations.fr ? country.translations.fr : country.name">
                                      </datalist>
                                      </div>
                                    </div>
                                </div>
                                <div class="pe-1 ps-1">
                                    <div class="border col-12 col-lg d-flex h-100 input-group 1input_search pb-1  pt-1" data-pg-collapsed>
                                        <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                          <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                          <input formControlName="city" (change)="citySelected($event)"  list="citydatalistOptions" class="border-white form-control fs-6  text-truncate" id="city_input" placeholder="Pays">
                                          <label for="city_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Ville</label>
                                          <datalist id="citydatalistOptions">
                                            <option class="text-l" *ngFor="let city of getCities(currentCountry)" [value]="city.name">
                                          </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="pe-1 ps-1" data-pg-collapsed>
                                  <div class="border col-12 col-lg d-flex h-100 input-group 1input_search pb-1  pt-1" data-pg-collapsed>
                                    <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                      <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                                      <input formControlName="address"  list="citydatalistOptions" class="border-white form-control fs-6  text-truncate" id="address_input" placeholder="Pays">
                                      <label for="address_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Adresse</label>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class=" ">
                                <p class="pb-1 pt-2 text-black-50">Date de Naissance</p>
                                <div class="border border-1  input-group">
                                    <span class="bg-white border-0 input-group-text" id="addon-wrapping1"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-clipboard-data text-primary" viewBox="0 0 16 16">
                                            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                        </svg></span>
                                    <input formControlName="birthday" type="date" class="border-0 form-control fs-6" id="floatingInput" placeholder="station/gare">
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-end mb-3 ms-auto">
                                <p class="pb-1 pt-3 text-black-50 text-start">Genre</p>
                                <div class="d-flex flex-row-reverse justify-content-end">
                                    <div class=" ps-2 w-75">
                                        <div class="border border-1 input-group">
                                          <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                                            <!-- <i class="col-auto fa-lg fas fa-phone-alt mb-auto mt-auto ps-2 text-primary"></i> -->
                                            <input formControlName="phone" type="text" class="border-white bg-transparent  form-control fs-6  text-truncate" id="phone_input" placeholder="Pays">
                                            <label for="phone_input" class="fs-5 fw-normal mt-n1   text-start text-truncate w-100">Numéro + code indicatif</label>
                                        </div>

                                    </div>
                                    </div>
                                    <div class="btn-group  w-auto" role="group" aria-label="Basic radio toggle button group">
                                        <input formControlName="gender" value="0" type="radio" class="btn-check" name="gender" id="groupradio1" autocomplete="off" checked>
                                        <label class="align-items-center btn btn-outline-danger d-flex" for="groupradio1">Homme</label>
                                        <input formControlName="gender" value="1" type="radio" class="btn-check" name="gender" id="groupradio2" autocomplete="off">
                                        <label class="align-items-center btn btn-outline-danger d-flex" for="groupradio2">Femme</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>{{formUser.value|json}}</div>
            <div>{{formUser.status|json}}</div> -->
            <div class="modal-footer">
                <button id ="close_btn" type="button" class="btn btn-default" data-bs-dismiss="modal">Annuler</button>
                <app-button class_="far fa-save pe-2 " [loading]="loading" text="Enregistrer" btn_class="btn btn-primary text-white h-auto"></app-button>
                <!-- <button type="submit" [disabled]="!formUser.valid" class="btn btn-primary text-white">Enregistrer</button> -->
            </div>
            <div>

            </div>
        </form>
      </div>
  </div>
  <app-toast></app-toast>
</div>
