<div class="align-items-center border-bottom border-dark d-flex justify-content-between pb-3 pe-2 ps-2 pt-2 text-warning " data-pg-collapsed>
  <p class="fs-4 fw-bolder"> {{'traveler_list' | translate}} </p>
  <i class="fa-2x fa-angle-down fas"></i>
</div>
<div id="proposed-checklist">

  <div class="accordion" id="panels1">
    <div *ngFor="let checlist of proposedChecklist let i  = index" class="accordion-item border-0">
        <div>
            <button [disabled]="!file" class="accordion-button bg-white border-2 border-danger border-start pb-1" type="button" data-bs-toggle="collapse"  [attr.data-bs-target]="'#bodyitem'+i" aria-expanded="true" aria-controls="collapseOne">
                <div class="div_img_accordeon p-2">
                    <img [src]="SERVER_FOR_UPLOAD + checlist.src" width="30" height="30">
                    <!-- <img [src]="'assets/img/checklist/icons8-'+checlist.src +'.png'" width="30" height="30"> -->
                </div>
                <div class="ps-2 w-100">
                    <div class="align-items-center d-flex justify-content-between ">
                        <p [innerHTML]="getLanguage() === 'fr' || !checlist.name_en ? checlist.name : checlist.name_en" class="fs-5 fw-bold text-dark">{{checlist.name}}</p>
                        
                    </div>
                </div>
            </button>
        </div>
        <div id="bodyitem{{i}}" class="accordion-collapse border-white collapse" aria-labelledby="collapse1" data-bs-parent="#panels1">
            <div class="accordion-body border-white pe-2 ps-2 pt-0">
                <div *ngFor="let item of getItems(checlist.id)" class="border-bottom gx-0 pb-3 pe-2 ps-2 pt-3 row row_item">
                    <div class="align-items-center col-auto d-flex d-flex ps-2">
                        <p [innerHTML]="getLanguage() === 'fr' || !item.name_en ? item.name : item.name_en" class="fw-bold  pe-0 text-start"></p>
                        <!-- <p  class="fw-bold  pe-0 text-start">{{item.name_en | json}}</p> -->
                        <!-- <p  class="fw-bold  pe-0 text-start">{{getLanguage()}}</p> -->
                    </div>
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="align-items-center pt-4 pe-0">
                            <button [disabled]="spinner.value <= 0 || !file " (click)="addItem(item)" type="button" class="btn btn-light btn-outline-primary  border-2 border-primary">{{'transfer_to_suitcase' | translate}} </button>
                        </div>
                        <div class="align-items-lg-center  col-lg-auto d-flex d-lg-flex justify-content-end ps-0">
                        <app-spinner-bouton (value_changed)="item.total = $event" #spinner [max_value]="100" [label]="'quantity' | translate" ></app-spinner-bouton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>


