

<div  *ngIf="true" class="container-fluid container_home  container_checklist pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0 pt-lg-5">
  <section>
      <div class="gx-0 row">
          <div class="col-lg-3  d-none d-lg-block pe-0 ps-0 pt-0">
            <div class="h-auto position-sticky  top-0">
              <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
            </div>
          </div>

          <div class="col-xs-4 col-lg col-xl-6 column_center pe-0 pe-lg-5  ps-0 ps-lg-5">
            <div class="bg-white p-4">
            <p>
              De votre départ, à votre retour, engagement est notre mot d’ordre, Partout
              où vous êtes il-y-a Besomewhere avec vous.
              <br/>
              Check-list, transport, et conseils en or, Besomewhere est la plateforme de
              référence pour voyager à moindre coût.
          </p>
          <p>
              Nous avons amélioré la façon de voyager, avec un haut standard de sécurité
              et de confort ; du point départ le plus proche de chez-vous, rejoignez une
              grande gare ou un aéroport.
              <br/>
              En effet, avec Besomewhere partout où vous êtes, un point d’arrêt est
              trouvé sans prises de tête.
              <br/>
              Nous offrons également une alternative très rentable pour des réservations
              privées de plus de 4 personnes, il suffit de nous contacter par mail pour
              une réservation.
          </p>
          <p>
              <br/>
              Une petite faim ? Vous n’avez pas le temps ? Pas d’inquiétude, partout où
              vous êtes Besomewhere vous récupère avec un repas équilibré
              nutritionnellement.
              <br/>
              Faites comme des milliers de voyageurs, réservez votre 1<sup>er</sup>
          expérience    <a href="https://besomewhereapp.web.app/trajets/creation/1">ici</a> (lien
              hyper texte) ; Wifi gratuit, port de recharge et conduite responsabilisée,
              grace aux retours d’expérience de milliers de voyageurs, Besomewhere offre
              un service de qualité élevé.
          </p>
          <p>
              Ne partez pas trop vite, partout où vous êtes, il-y-a un Besomewhere qui
          vous aide à organiser et personnaliser vos valises via la    <a href="https://besomewhereapp.web.app/checklist/creation">check-list</a>
              en ligne. Vous ne savez pas quoi mettre, pas d’inquiétude partout où vous
              êtes, il-y-a un Besomewhere qui vous aide à la constituer via notre
              suggestion.
          </p>
          <p>
              Respirez, laissez-vous emporter avec quiétude, Partout où vous êtes il-y-a
              Besomewhere avec vous.
          </p>
          <p>
          Ça y est, c’est le moment de partir, trouvez plus d’inspiration sur notre    <a href="https://besomewhereapp.web.app/article">blog</a>.
              <br/>
              <br/>
          </p>
          <p>
              <strong>Partout où vous êtes il-y-a Besomewhere avec vous</strong>
          </p>
          <p>
              Contact
          </p>
          <p>
              Email :
              <a href="mailto:besomewhere.contact@gmail.com">
                  besomewhere.contact&#64;gmail.com
              </a>
          </p>
          <p>
              Tel/ whatsapp :
          </p>
          <p>
              - Depuis la Belgique : +32 466 336 159
          </p>
          <p>
              - Depuis la France : +33 6 59 66 83 74
          </p>
          <p>
            </div>

          </div>

          <div class="col-xs-12 col-lg-3">
            <div class="h-auto position-sticky  top-0">
                <app-home-ads image = "https://images.unsplash.com/photo-1603788569892-2c720de85ba0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGF2aW9ufGVufDB8fHx8MTYzMzgxNzgwNg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop"  title="Découvrez nos offres pour le Maroc" description = 'Les rues de Chefchaouen Entre des histoires très ancrées, du street art,  propose un paysage Magnifique&nbsp;'></app-home-ads>
              </div>
          </div>
          </div>
  </section>
</div>

<app-preloader-checklist-list *ngIf="false"></app-preloader-checklist-list>
