<nav class="bg-white border-bottom navbar navbar-expand-lg navbar-light py-lg-1 sticky-top" >
        <div class="container">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="pointer fw-bold navbar-brand text-light"  ><img src="assets/img/icon/BESOMEWHERE.png" height="50" class="image-fit" width="60"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler2" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler2">
                <ul class="ms-auto navbar-nav">
                    <li class="nav-item">
                        <a (click) ="navigate('mes-checklists', {archived: false})" class="active nav-link px-lg-3 py-lg-4 text-white pointer" aria-current="page" >Mes checklists </a>
                    </li>
                    <li class="nav-item">
                        <a  (click) ="navigate('mes-trajets', {archived: false})" class="nav-link px-lg-3 py-lg-4 text-white pointer" routerLinkActive="router-link-active"  >Mes trajets</a>
                    </li>
                    <li class="nav-item">
                        <a  [routerLink]="['/communaute']" routerLinkActive="router-link-active"  class="nav-link px-lg-3 py-lg-4 text-white"  >Communauté</a>
                    </li>
                    <li [routerLink]="['/article']" class="nav-item ">
                        <a class=" nav-link px-lg-3 py-lg-4 text-white"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Blog</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/a-propos']" routerLinkActive="router-link-active"  class="nav-link px-lg-3 py-lg-4 text-white"  >A propos</a>
                    </li>
                    <li  *ngIf="isConnected && isAdmin" class="nav-item">
                        <a [routerLink]="['/back-office']" routerLinkActive="router-link-active"  class="nav-link px-lg-3 py-lg-4 text-white"  >Back Office</a>
                    </li>
                    <li class="nav-item">
                  <a *ngIf="!isConnected" id="login_btn"  style="color: white !important;"  class="btn d-lg-none d-block btn-primary ms-lg-3 rounded rounded-0 text-white" data-bs-toggle="modal" data-bs-target="#authModal"  (click)="openModal1('authModal')"  >Connexion</a>

                </li>
                </ul>
            </div>
            <a *ngIf="!isConnected" id="login_btn"  class="btn  btn-primary d-lg-block d-none ms-lg-3 rounded rounded-0 text-white" data-bs-toggle="modal" data-bs-target="#authModal" (click)="openModal1('authModal')"  >Connexion</a>
            <div *ngIf="isConnected" class="align-items-center d-flex flex-column me-0 me-lg-3" data-pg-collapsed>
              <img [src]="user && getU().image ? getU().image :'../../../assets/img/empty_profil.jpg'"  width="50" height="50" class="image-fit-center-center rounded-circle" style="width: 40px; height: 40px;"/>
              <div class="align-items-center d-flex dropdown h-auto" style="height: 13px !important;">
                  <button (click)="toggleDropdown()" class="border-0 fs-6 btn dropdown-toggle fw-bold pt-2 dropdown-btn" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false" type="button" data-bs-trigger="hover">{{getU().name}}</button>

                  <ul class="dropdown-menu" id="myDropdown" aria-labelledby="dropdown1">
                      <li>
                          <a [routerLink]="['/profil']" routerLinkActive="router-link-active"  class="dropdown-item" >Profil</a>
                      </li>
                      <hr>
                      <li>
                          <a (click)="logout()" class="dropdown-item text-danger pointer" >Déconnexion</a>
                      </li>
                  </ul>
              </div>
          </div>
          
        </div>
    </nav>



  <app-modal-login></app-modal-login>
    