<form (ngSubmit)="onSubmit()" [formGroup]="addressForm">

  <div class="fade modal" id="addressModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-keyboard="false"   data-pg-collapsed>
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0);">
            <div class="align-items-center d-flex flex-column">
                <div class="bg-white border-5 border-end border-primary border-top d-flex justify-content-center mb-n5" style="width: 85px; height: 85px; border-radius: 50%; z-index: 1;">
                    <img src="assets/img/icon/BESOMEWHERE.png" height="65" class="image-fit mb-3" width="65" style="z-index: 2;"/>
                </div>
                <div class="bg-white border border-3 border-primary">
                    <div class="border-0 modal-header pb-2">
                        <h4 class="me-auto modal-title ms-auto pt-4" style="z-index: 3;">Ajout d'adresse</h4>
                    </div>
                    <hr class="bg-primary border-1 border-primary border-top mb-0 me-3 ms-3  pb-0">
                    <div class="border-0 modal-body pb-0 pe-4 ps-4">
                        <div class="d-flex flex-column mb-3">
                          <div class="border col-12 col-lg d-flex h-100 input-group input_search pb-1  pt-1" data-pg-collapsed>
                            <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                              <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                              <input formControlName="country" (change)="countrySelected($event)" list="countrydatalistOptions" class="border-white form-control fs-6 mb-n1 text-truncate" id="county_input" placeholder="Pays">
                              <label for="county_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Pays</label>
                              <datalist id="countrydatalistOptions">
                                <option  *ngFor="let country of countries" [value]="country.translations.fr ? country.translations.fr : country.name">
                            </datalist>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-column mb-3">

                          <div class="border col-12 col-lg d-flex h-100 input-group input_search pb-1  pt-1" data-pg-collapsed>
                            <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                              <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                              <input formControlName="city"  (change)="citySelected($event)"   list="citydatalistOptions" class="border-white form-control fs-6 mb-n1 text-truncate" id="city_input" placeholder="Pays">
                              <label for="city_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Ville</label>
                              <datalist id="citydatalistOptions">
                                <option class="text-l" *ngFor="let city of getCities(currentCountry)" [value]="city.name">
                              </datalist>
                            </div>
                          </div>
                        </div>
                        <div class="d-none flex-column mb-3">
                          <div class="border col-12 col-lg d-flex h-100 input-group input_search pb-1  pt-1" data-pg-collapsed>
                            <div class="col d-flex form-floating g-0 justify-content-between " data-pg-dyn-id="did_107">
                              <!-- <i class="col-auto fa-lg fa-map-marker-alt fas mb-auto mt-auto p-0 text-primary"></i> -->
                              <input formControlName="address"  list="citydatalistOptions" class="border-white form-control fs-6 mb-n1 text-truncate" id="address_input" placeholder="Pays">
                              <label for="address_input" class="fs-5 fw-normal mt-n1  ps-2 text-start text-truncate w-100">Adresse</label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- <p>Form value: {{ addressForm.value | json }}</p> -->
                    <!-- <p>Form status: {{ addressForm.status | json }}</p> -->
                    <div class="border-0 d-flex justify-content-center modal-footer">
                      <button id="close_btn" class="btn btn-outline-primary border-dark text-dark" data-bs-dismiss="modal">Fermer</button>
                      <app-button *ngIf="!saved" [loading]="loading"  bh='auto' btn_class="h-auto" text="Enregistrer"></app-button>
                    </div>
                </div>
            </div>
            <app-toast>   </app-toast>
        </div>
    </div>
  </div>

<app-toast></app-toast>
</form>
