<div class="bg-white p-3">


  <div class="bg-white d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- <app-button (click)="del_modal.datas = getAllChecked(selected_data) " *ngIf="getAllChecked(selected_data).length > 0" class_="fas fa-trash" btn_class = "btn btn-outline-primary  btn-light" text="Suprimer" data-bs-toggle="modal" data-bs-target="#deleteModal"> </app-button> -->
      <!-- <app-button class_="fas fa-plus" btn_class = "btn btn-outline-primary  btn-light" text="Ajouter" data-bs-toggle="modal" data-bs-target="#modalAddPoint"> </app-button> -->
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddPoint" >Ajouter</button> -->

    </div>
  </div>
  <div class="table-responsive">
  </div>

  <div class="container mt-3 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="pl-2 position-relative d-flex align-items-center">
          <input #search_input (change)="change()" [(ngModel)]="search_option" type="search"  class="form-control w-auto" placeholder="Recherche...">
          <span class=" ps-3 w-auto"><b>{{users && users.length }}</b> users</span>
        </div>
        <div class="px-2 d-flex align-items-center">
            <span class="pe-3">Filter par :  </span>
            <select  style="min-width: 100px;"  #select value="id"  [(ngModel)]="sort_option" class=" pe-3 form-select w-auto h-100" id="inputGroupSelect01">
              <option value="id" selected>ID</option>
              <option value="country">Pays</option>
              <option value="name">Nom</option>
              <option value="city">Ville</option>
              <option value="address">Pays</option>
              <option value="phone">Telephone</option>
              <option value="created_at">Date</option>
              <option value="email">Mail</option>
              <option value="type">Type</option>
          </select>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-hover table-responsive table-borderless">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%">
                        <!-- <input   (change)="selectOrUnselectAll(input_.checked, users)" [checked]="isAllchecked(selected_data)" #input_ class="form-check-input" type="checkbox"> -->
                    </th>
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="20%">Date de creation</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Adresse</th>
                    <!-- <th class="text-end">Pays</th> -->
                    <th class="text-end">Telephone</th>
                    <th class="text-end">Mail</th>
                    <!-- <th class="text-end">Type</th> -->
                </tr>
            </thead>
            <tbody>
                <tr  routerLinkActive="router-link-active"  *ngFor="let user of getUsers() | orderBy:  select.value | filterBy: ['first_name', 'last_name','email']: search_input.value  let i = index" class="">
                    <th scope="row">
                        <!-- <input #inp (change)="selectOrUnselect(inp.checked, i)"  [checked]="selected_data[i].selected"  class="form-check-input" type="checkbox"> -->
                    </th>
                    <td >{{user.id}}</td>
                    <td >{{user.updated_at |date}}</td>
                    <td >
                        <app-preloader-img [src]="user.image ? user.image : './assets/img/empty_profil.jpg'"  width_="25px"></app-preloader-img>
                        <!-- <img [src]="user.image" width="25"> -->
                    </td>
                    <td ><i class="fa fa-check-circle-o green"></i><span class="ms-1">{{user.first_name + ' '+user.last_name}}</span></td>
                    <td ><span class="ms-1">{{!user.country || user.country === '' ? user.cur_country : user.country}}</span></td>
                    <td ><span class="ms-1">{{user.city ? user.city : 'Non Spécifiée' }}</span></td>
                    <td ><span class="ms-1">{{user.address ? user.address : 'Non Spécifiée' }}</span></td>
                    <td  class="fw-bold text-end"><span class="fw-normal">{{user.phone}}</span> </td>
                    <td  class="fw-bold text-end"><span class="fw-normal">{{user.email }}</span> </td>
                    <td  class="text-end"><span class="fw-normal">
                      <a (click)="detailsuser.init(user) "  data-bs-toggle="modal" data-bs-target="#detailsuser" class="userer pe-2 pointer">Details</a>
                      <!-- <a  [routerLink]="['/horraires_stations', user.id]" class="userer ps-2" *ngIf="user.is_station">Gérer</a> -->
                    </span> </td>
                </tr>

            </tbody>
        </table>
        <div class="d-flex">
            <ul class="ms-auto pagination">
                <li (click)="navigateToPage(currentPage === 0 ? 0 : currentPage - 1)" class="page-item"  [ngClass]="{'disable': currentPage === 0, 'userer': currentPage > 0}">
                    <a class="page-link" >Précedent</a>
                </li>
                <li (click)="navigateToPage(i)" *ngFor="let user of  pagination let i = index" class="page-item" [ngClass]="{'active': currentPage === i, 'userer': currentPage !== i}">
                    <a  class="page-link " >{{i+1}}</a>
                </li>

                <li (click)="navigateToPage(currentPage === pagination && pagination.length - 1 ? currentPage : currentPage + 1)" class="page-item" [ngClass]="{'disable': currentPage === pagination && pagination.length - 1, 'userer': !(currentPage < pagination && pagination.length - 1)}">
                    <a class="page-link" >Suivant</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>





<!-- <app-user-create ></app-user-create> -->

<app-modal-user-details #detailsuser ></app-modal-user-details>
<app-toast #toast_c></app-toast>
<app-preloader></app-preloader>
