

<section *ngIf="curRoute" class=" h-100">
  <div class="h-100 row g-0">
    <div class="col-lg-3 pg-empty-placeholder"></div>
    <div class="col-lg-6 col-md-12 pe-0 pe-lg-5 ps-0 ps-lg-5 pt-0">
          <app-route-card *ngIf="curRoute" [route] = "curRoute" [curStatus] = "statusCard"  [take_at_home_count]="takeAtHomeCount(reservation.passengers,reservation.take_at_home)"  [passengers_array]="reservation.passengers"   [take_at_home]="reservation.take_at_home" [passengers]="reservation.passengers.length"  [items]="reservation.items"></app-route-card>
          <div class="container p-0 pb-lg-4 pe-lg-5 pe-xl-3 ps-lg-5 ps-xl-3 pt-lg-4">
              <div *ngIf=" !canSelectItems()" class="alert alert-success" data-pg-collapsed>
                <b>Vous ne pouvez plus sélectionner des petits plaisirs . </b>
            </div>
              <div class=" bg-white border-2 border-primary border-start mt-0 mt-lg-4 p-2 p-lg-2 shadow-sm">
                  <p class="fs-4 fw-bold ps-3">Options </p>
                  <div class="p-2">
                      <div disabled = "true" class="accordion " id="panels1">


                          <!-- choose meals -->
                          <div  class="accordion-item border-0">

                              <div class="border-primary">
                                  <button [ngClass]="{'bg-light': !canSelectItems()}"  [disabled]="!canSelectItems()"  (click)="setItem(0)" id ="petitdejeuner" class="accordion-button  border-2 border-start border-white" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="canSelectItems() ? '#collapseOne' : ''" aria-expanded="false" aria-controls="collapseOne">
                                      <img src="assets/img/sandwich.png" width="65" height="65" class="">
                                      <div class="ps-2 w-100">
                                          <div class="align-items-center d-flex justify-content-between ">
                                              <p class="fs-5 fw-bold text-body">Petits Plaisirs</p>
                                          </div>
                                          <span class="fst-italic text-muted">( Possible pour réservation 4h à l&rsquo;avance )</span>
                                          <p class="fs-6 fw-bold pt-2 text-secondary">Total : {{total_meals()}} €</p>
                                      </div>
                                  </button>
                              </div>


                              <div id="collapseOne" class="accordion-collapse border-white collapse" [ngClass]="{ 'show': current == 0}"  aria-labelledby="collapse1" data-bs-parent="#panels1">
                                  <div class="accordion-body border-white ">
                                      <div class="d-flex">
                                          <div class="input-group mb-3 w-75 pe-2">
                                              <input [(ngModel)]="search_string"   type="search" class="form-control" aria-label="Text input with dropdown button">
                                          </div>
                                          <div class="mb-3 w-25">
                                              <select [(ngModel)]="curCategory" (change)="cateryChanged(curCategory)" id="formInput794" class="form-select" aria-label="Default select example">
                                                  <option [selected]=" i === 0" *ngFor="let item_t of proposed_items_type let i = index" [value]="i">{{item_t}} </option>
                                                  <!-- <option selected value="0">La Viennoiserie </option>
                                                  <option value="1">Sandwich </option>
                                                  <option value="2">Boisson</option>
                                                  <option value="3">Tout</option> -->
                                              </select>
                                          </div>
                                      </div>

                                      <div *ngFor="let item of meals let i = index" >
                                        <div *ngIf="itemsc(item) " class="border-bottom border-dark gx-2 pb-3 pe-2 ps-2 pt-3 row row_item">
                                            <div  class="align-items-center col-auto d-flex pe-0">
                                                <app-preloader-img [src]="server + item.src" [class]="['image-fit', 'pe-0']"  width_="30px" height_="30px" [objectFit]="'contain'"></app-preloader-img>
                                                <!-- <img [src]="server + item.src" style="    object-fit: contain;" class="image-fit pe-0"/> -->
                                            </div>
                                            <div class="col pe-0 ps-2">
                                                <p class="fw-bold pb-2 pe-0 text-start">{{item.name}}</p>
                                                <p class="fs-6 fw-bold p-0 text-muted text-start">{{item.price}} €</p>
                                            </div>
                                            <div class="align-items-lg-center col-12 col-xxl-auto d-flex d-lg-flex justify-content-end ps-0">
                                              <app-spinner-bouton [value]="item.quantity < item.quantity_max ? item.quantity : item.quantity_max  " (value_changed) = "qty_meal_changed(i,$event)" #spiner_btn label="" [max_value] = "item.quantity_max"></app-spinner-bouton>

                                                <div class="col-auto">
                                                    <p class="fs-5 fw-bold p-0 text-center text-secondary">  {{(item.price * spiner_btn.value).toFixed(2)}} €</p>
                                                </div>
                                            </div>
                                        </div>
                                      </div>

                                  </div>
                              </div>
                          </div>




                          <!-- choose suitcase -->

                          <div class="accordion-item border-0">
                              <div class="border-primary">
                                  <button (click)="setItem(1)"  class="accordion-button  border-2 border-start border-white" type="button" data-bs-toggle="collapse"  aria-expanded="true" aria-controls="collapseOne">
                                      <img src="assets/img/suitcases%20(2).png" width="65" height="65" class="">
                                      <div class="ps-2">
                                          <div class="align-items-center d-flex justify-content-between ">
                                              <p class="fs-5 fw-bold text-body">Valise supplémentaire</p>
                                          </div>
                                          <span class="fst-italic text-muted text-wrap">( 1 Valise/P + 1 bagage cabine/P Gratuit. Voir politique Bagage)</span>
                                          <p class="fs-6 fw-bold pt-2 text-secondary">Total : {{total_suitcase()}} €</p>
                                      </div>
                                  </button>
                              </div>
                              <div id="collapsesuitcase" class="accordion-collapse collapse" [ngClass]="{ 'show': current == 1}" aria-labelledby="collapse2" data-bs-parent="#panels1">
                                  <div class="accordion-body ">
                                      <div class=""></div>
                                      <div class="border-bottom border-dark gx-2 pb-3 pe-2 ps-2 pt-2 row row_item">
                                          <div class="align-items-center col-auto d-flex pe-0">
                                              <img src="assets/img/suitcases1.png" class="image-fit pe-0"/>
                                          </div>
                                          <div class="col d-flex flex-column  pe-0 ps-2">
                                              <p class="d-flex flex-column-reverse fw-bold text-start">1 Valise/P + 1 bagage cabine/P </p>
                                              <p class="fst-italic text-muted">30kg H+L+l=158cm max | 10kg H+L+l = 115cm max</p>
                                          </div>
                                          <div class="align-items-center col-lg-12 col-xl-auto col-xxl-auto d-flex pb-2 pt-2">
                                              <span class="badge bg-primary fs-6 p-2">Gratuit</span>
                                          </div>
                                      </div>
                                      <div class=" border-dark gx-2 pb-2 pe-2 ps-2 pt-3 row row_item">
                                          <div class="align-items-center col-auto d-flex pe-0">
                                              <img src="assets/img/suitcases1.png" class="image-fit pe-0"/>
                                          </div>
                                          <div class="col d-flex flex-column  pe-0 ps-2">
                                              <p class="d-flex flex-column-reverse fw-bold text-start">Bagages supplémentaires</p>
                                              <p class="fst-italic text-muted">30kg H+L+l = 158 cm max </p>
                                          </div>

                                      </div>
                                      <div class="border-bottom border-dark  align-items-center col-lg col-xl-auto d-flex justify-content-end pb-2 ps-0 pt-2">
                                              <div class="align-items-center col d-flex justify-content-end">
                                              <p class="fw-bold p-0 text-center text-muted">{{suitcase.price}} €</p>
                                              <app-spinner-bouton class_="align-items-center d-flex justify-content-center pb-0 pt-0 t-neutral" [value]="suitcase.quantity" (value_changed) = "qty_suitcase_changed($event)" #spiner_btns label="" [max_value] = "5"></app-spinner-bouton>

                                              <p class="fs-5 fw-bold p-0 text-center text-secondary">{{suitcase.price * spiner_btns.value}} €</p>
                                          </div>
                                          </div>
                                  </div>
                              </div>
                          </div>



                          <!-- choose babyseats -->

                          <div class="accordion-item border-0">
                              <div class="border-primary">
                                  <button  [disabled]="!canSelectItems()"   (click)="setItem(2)"  class="accordion-button  border-2 border-start border-white" [ngClass]="{'collapsed': current != 2, 'bg-light': !canSelectItems()}"  type="search" data-bs-toggle="collapse" data-bs-toggle="collapse" [attr.data-bs-target]="canSelectItems() ? '#collapsebaby' : ''"  aria-expanded="true" aria-controls="collapseOne">
                                      <img src="assets/img/baby-car-seat%20(1).png" width="65" height="65" class="">
                                      <div class="ps-2 w-100">
                                          <div class="align-items-center d-flex justify-content-between pe-5">
                                              <p class="fs-5 fw-bold text-body">Siège  bébé <span class="fs-6 text-muted"></span></p>
                                          </div>
                                          <span class="fst-italic text-muted">Obligatoire pour enfant &lt;6 ans (possible pour réservation 4h à l’avance ) </span>
                                          <p class="fs-6 fw-bold pt-2 text-secondary">Total : {{total_babyseats()}} €</p>
                                      </div>
                                  </button>
                              </div>
                              <div id="collapsebaby" class="accordion-collapse collapse" [ngClass]="{ 'show': current == 2}" aria-labelledby="collapse3" data-bs-parent="#panels1">
                                  <div class="accordion-body ">
                                      <div class="align-items-center bg-light border-light d-flex mb-3 p-3 rounded rounded-3">
                                          <i class="fa-2x fa-exclamation-circle fas pe-2"></i>
                                          <div>
                                              <p style="text-align: justify;" class="text-muted">Nous mettons à dispositions des sièges pour enfant, le bon siège doit être sélectionné en fonction de la taille et du poids de l’enfant. La responsabilité du parent est engagée dans le bon choix du siège. Soucieux de nos clients et de nos Benjamins, notre sens des responsabilités ne nous permettra pas d’accepter à bord un enfant sans siège dédié, Aucun enfant dont un siège est requis ne sera autorisé à embarquer.
                                              <br>
                                              Vous ne savez pas quel type de siège choisir voici nos conseils <a [href]="'mailto:'+ email_admin">cliquez ici</a>.
                                              </p>
                                              <p class="pt-2 text-muted" style="text-align: justify;">Vous ne savez pas qu&rsquo;elle type de siège prendre  voici nos
Conseil Cliquez ici.&nbsp;&nbsp;</p>
                                          </div>
                                      </div>
                                      <div *ngFor="let item of babySeats let i = index" class="border-bottom border-dark gx-2 p-2 pb-4 pe-2 ps-2 pt-4 row row_item">
                                          <div class="align-items-center col-auto d-flex pe-0">
                                              <!-- <img src="assets/img/u1.png" class="image-fit pe-0"/> -->
                                          </div>
                                          <div class="align-items-center col-auto d-flex pe-0">
                                                <app-preloader-img  [src]="server + item.src"  [class]="['image-fit', 'pe-0']" width_="55px" height_="55px"></app-preloader-img>
                                                <!-- <img [src]="server + item.src" class="image-fit pe-0"/> -->
                                          </div>
                                          <div class="align-items-center col d-flex justify-content-end">
                                              <p class="fw-bold p-0 text-center text-muted">{{item.price}} €</p>
                                              <app-spinner-bouton [value]="item.quantity" (value_changed) = "qty_babySeats_changed(i,$event)" #spiner_btnb1 label="" [max_value] = "item.quantity_max"></app-spinner-bouton>

                                              <p class="fs-5 fw-bold p-0 text-center text-secondary">{{(item.price * spiner_btnb1.value).toFixed(2)}} €</p>
                                          </div>
                                          <p class="fst-italic pb-2 pe-2 ps-2 pt-3 text-end text-muted">Obligatoire Pour enfant &lt;1m10 en <span class="text-danger text-decoration-underline">savoir plus</span></p>
                                      </div>

                                  </div>
                              </div>
                          </div>


                      </div>
                  </div>
                  <div class="container d-flex flex-column-reverse pb-3 pe-4 ps-4 pt-3">
                      <button [disabled] = "total_babyseats() === '0.00' && !without_baby_checked && canSelectItems()" (click)="goToNextStep()" routerLinkActive="router-link-active"  type="text" class="align-items-center btn btn-lg btn-outline-primary d-flex flex-row-reverse fw-bold justify-content-center ms-auto w-auto" style="height: 55px;">
                        <i class="fa-arrow-right fas fw-bolder pb-1 ps-3"></i>
                        Continuer&nbsp; ( {{   get_totals().toFixed(2)}} € )
                    </button>
                    <span class="text-right">prix  options: </span><br>
                      <div *ngIf="total_babyseats() === ('0.00') && canSelectItems()" class="mb-3 align-items-center d-flex form-check mb-3">
                          <input [(ngModel)]="without_baby_checked" type="checkbox" class="form-check-input" id="formInput869">
                          <label class="form-check-label text-muted" for="formInput869">Je garantie sur l&rsquo;honneur que tout les mineurs font plus de 1m35. en savoir plus</label>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="col-lg-3 pg-empty-placeholder"></div>
  </div>

</section>


<div *ngIf="!curRoute" class="bg-white" style="height: 95vh;">
  <app-loading-page class="h-100"></app-loading-page>
</div>
