@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.carousel-indicators{
    display: none!important;
}

.error-p{
  color: red;
  font-size: small;
  text-align: center;
  padding: 5px;
  font-style: italic;
}
select {
  // color: #898c96;
}
/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: rgba(238, 238, 238, 0.56); */
  background-color: #ecf2f5;
  font-size: 1.4rem;
  font-size: 1.3rem!important;
  font-family: 'TT Norms Pro', sans-serif!important;
  color: #555353;
  /* background-color: rgb(238 238 238 / 31%); */
}
list-group-item.active {
  // background-color: #42ade2;
  // border-color: #42ade2;
}
select, input {
    color: #898282;
}
.text-body {
    color: #898282!important;
}
a.nav-link {
    color: #898282!important;
}
.bg-transparent{
  background-color: transparent!important;
}
.H_imprint {
  top: 0px!important;
}
div::-webkit-scrollbar {
  width: 10px;

  /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background-color: #f8f8f8; /* Couleur de l'arrière-plan de la barre de défilement */

  /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  // background-color: #1b7eba;
  background-color: #1b7eba; /* Couleur de la poignée de la barre de défilement */

  /* color of the scroll thumb */
  // border-radius: 20px;

  /* roundness of the scroll thumb */
  // border: 3px solid #1b7eba;

  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar {
  width: 12px;

  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(221, 221, 219);

  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1b7eba;

  /* color of the scroll thumb */
  // border-radius: 20px;

  /* roundness of the scroll thumb */
  // border: 3px solid #1b7eba;

  /* creates padding around scroll thumb */
}
.input_search input:focus,
a:focus,
button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none!important;

  /* border-color: #22764f !important */
}
select:focus
 {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  /* border-color: #22764f !important */
}

 input:focus,
a:focus,
label:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}
p {
  margin-bottom: 0!important;
}
input[type="radio"]:focus {
  outline: none;
  /* outline: 0px !important; */
  -webkit-appearance: none;
  box-shadow: none !important;
}

.card {
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.progress div {
  background-color: red;
}

.text1 {
  font-size: 14px;
  font-weight: 600;
}

.text2 {
  color: #a5aec0;
}

.hr-h {
  background-color: #2a9d18 !important;
  height: 6px;
}

.section_search input {
  height: 50px;
  font-size: 20px;
}

.section_search button {
  height: 65px;
}

.input_search input {
  height: 30px;
}

cursor {
}

.input_search span:hover {
  width: 35px;
  height: 35px;
  background-color: rgba(189, 185, 185, 0.73);
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}

.input_search span {
  width: 35px;
  height: 35px;
  background-color: #dfdfdf;
}

.row_shedulde:hover {
  cursor: pointer;
  background-color: rgba(168, 168, 168, 0.06) !important;
}

.row_shedulde {
  cursor: pointer;
}

.accordion-item {
  background-color: transparent;
}

.row_item img {
  width: 55px;
  height: 55px;
}

.accordion-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
.accordion-collapse {
  transition: all 503ms;
  overflow: hidden;
}
.navbar .nav-item a {
  color: #000000 !important;
}

@media screen and (min-width:768px) {
  section {
      min-height: 100%;
      height: 100%;
  }
}

@media screen and (max-width:991px) {
  section {
      background-color: #ffffff !important;
  }

  body {
      /* background-color: rgb(255, 254, 254)!important; */
      background-color: rgb(248 249 250)!important;

  }
}

@media screen and (min-width:992px) {
  section {
      /* background-color: rgba(238, 238, 238, 0.154) */
  }
}

.section_n {
  min-height: 1% !important;
  height: auto;
}

@media screen and (min-width:1400px) {
  .container_home {
      /* padding-top: 170px !important */
      padding-left: 170px !important;
      padding-right: 170px !important;
  }
}

.div_img_pub {
  /* background-image: url('https://images.unsplash.com/photo-1571175081012-fbb2d3ba5b90?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fFR1bmlzaWV8ZW58MHx8fHwxNjMzODE3ODM5&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=300&h=500&fit=crop'); */
  height: 300px;
  width: 100%;

  /* background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
}

.div_img_pub {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width:991px) {
  .column_center {
      background-color: #f8f9fa!important;
  }
}

@media (min-width: 576px){
}

.container,
.container-sm {
  max-width: 100%!important;
}


/* ----------------------------------------added--------------------------------------------------- */
.btn-outline-light:disabled, .btn-outline-light.disabled {
  background-color: transparent;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #f8f9fa;
  background-color: #1b7eba!important;
  border-color: #1b7eba;
}
pointer{
  cursor: pointer!important;
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}

.btn-outline-primary:hover {
  color: white!important;
  background-color: #1b7eba;
  border-color: #1b7eba;
}

.padding {
  padding: 2rem;
}

.w-32 {
  width: 32px !important;
  height: 32px !important;
  font-size: .85em;
}

.tl-item .avatar {
  z-index: 2;
}

.circle {
  border-radius: 500px;
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
}

.timeline {
  position: relative;
  border-color: rgba(160, 175, 185, .15);
  padding: 0;
  margin: 0;
}

.p-4 {
  padding: 1.5rem !important;
}

.block,


.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem;
}

.mb-4,


.my-4 {
  margin-bottom: 1.5rem !important;
}

.tl-item {
  border-radius: 3px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.tl-item>* {
  padding: 10px;
  width :15%
}

.tl-item .avatar {
  z-index: 2;
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, .2);
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, .2);
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, .15);
}

.tl-dot:after,


.tl-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, .2);
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, .15);
}

.tl-dot:after,


.tl-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

.tl-content p:last-child {
  margin-bottom: 0;
}

.tl-date {
  font-size: .85em;
  margin-top: 2px;
  min-width: 100px;

  /* max-width: 100px; */
  text-align: end;
}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15);
}
b-warning {
  border-color: #f4c414 !important;
}

.b-primary {
  border-color: #448bff !important;
}

.b-danger {
  border-color: #f54394 !important;
}

canvas {
  z-index: 0;
}

button:focus {
  border: 2px solid  !important;
  border: none;
}

.H_imprint {
  font-family: var(--bs-font-sans-serif)!important;
}

h2{
	font-family: "Monsterat Alternates", sans-serif;

}

.a {
  color: #1b7eba!important;
  text-decoration: underline!important;
  cursor: pointer!important;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
  cursor: none;
}
.modal-backdrop {
  z-index: 5!important;
}
.overflow-auto {
  overflow: auto !important;
}

.input-group input {
  min-height: 50px;
}
.modal{
  z-index: 50!important;
}
.sticky-top {
  z-index: 20!important;
}

/* login and register */
@media screen and (max-width:1024px) {
  .modal-dialog .modal-content .row {
      height: auto !important;
  }

  .col-left {
      height: 165px;
  }

  .col-left img {
      height: 100%!important;
  }
}

.border-b{
  border: 1px solid #d4e3ec;
}

input[type=text]{
  min-height: 50px;
}
input:focus-visible {
  outline: 0px!important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.input-group input, .form-control {
  min-height: 45px;
  border-radius: 30px!important;
}
.input_search {
  border-radius: 50px;
}
a#button-addon2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-color: transparent!important;
}
label.form-check-label {
  /* padding-top: 2px; */
  /* display: block; */
}
input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 0;
  width: 1.5em;
  height: 1.5em;
}
.form-switch input {
  height: 22px;
  width: 37px!important;
}
.form-switch label.form-check-label {
  padding-top: 6px;
  padding-left: 5px;
}


.div-take-at-home p {
  margin-bottom: 0;
  text-align: justify;
  font-weight: 900;
}

.div-take-at-home span {
  color: #857d7d;
}
.spinner--horizontal .spinner__input {
  width: 30px;
}

.desactivated{
  pointer-events: none;
  background-color: #e9ecef;
}
.H_imprint a {
  color: white;
}
.details_point a {
  color: white;
}
.details_point ol{
  margin: 0!important;
}

.modal-content{
  border: none!important;
}
button:focus:not(:focus-visible) {
  // border: none!important;
}

#form_email{
  color: transparent!important;
  background: transparent!important;
  height: 0;
  width: 0;
  position: fixed;
}
.position-sticky{
  padding-top: 80px;
}
.btn, .form-select, .form-control{
  font-size: 1.3rem;
}
circle-progress {
  width: 65%;
}

.article_eti{
  position: absolute;
  margin: 5px 5px!important;
  background: red;
  padding: 4px;
  color: white;
  font-size: 11px;
  border-radius: 0px;
  font-weight: 800;
}

.btn-light{
  color: black!important;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  .carousel-item {
    width: calc(100% / 3); /* Ajustez la largeur en fonction du nombre d'éléments visibles */
  }
.carousel-control {
  text-decoration: none;
  opacity: 1;
}
.carousel-control span {
  border: 1px solid white;
  background: black;
  border-radius: 50%;
  width: 30px;
  font-family: monospace;
  padding-top: 1px;
  height: 30px;
}
span.icon-next.carousel-control-next-icon:after {
  content: ">";
}
.carousel-control-prev-icon:after {
  content: "<";
}
@media only screen and (min-width: 4150px) {
  .carousel-control-prev {
    left: -6%;
  }
  .carousel-control.disabled {
    pointer-events: none;
    opacity: 1;
    cursor: none;
}
.carousel-control-next {
  right: -6%;
} 

}
.carousel-control-prev.disabled{
  pointer-events: visible!important;
  cursor: auto;
  display: none;
}
.carousel-control-next.disabled{
  pointer-events: visible!important;
  cursor: auto;
  display: none;
}
