<div class="fade modal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-keyboard="false" data-pg-collapsed>
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" style="background-color: rgba(255, 255, 255, 0);">
          <div class="align-items-center d-flex flex-column">
              <div class="bg-white border-5 border-end border-primary border-top d-flex justify-content-center mb-n5" style="width: 85px; height: 85px; border-radius: 50%; z-index: 1;">
                  <img src="assets/img/icon/BESOMEWHERE.png" height="65" class="image-fit mb-3" width="65" style="z-index: 2;"/>
              </div>
              <div class="bg-white border border-3 border-primary">
                  <div class="border-0 modal-header pb-2">
                      <h4 class="me-auto modal-title ms-auto pt-4" style="z-index: 3;">{{'cancel_action' | translate}} </h4>
                  </div> 
                  <hr class="bg-primary border-1 border-primary border-top mb-0 me-3 ms-3  pb-0">
                  <div class="border-0 modal-body pb-0 pe-4 ps-4 w-100">
                      <p *ngIf="currentFolder && !currentFile" class="text-wrap w-100 text-center">{{'delete_suitcase_confirmation' | translate: { var1: currentFolder.name} }}  </p>
                      <p *ngIf="currentFile" class="text-wrap w-100 text-center">{{'delete_confirmation' | translate}} <b [innerHTML]="(currentFile && currentFile.name) | translate"> </b>?  </p>
                      <p *ngIf="checklist && !currentFolder && !currentFile" class="text-wrap w-100 text-center">{{'delete_checklist_confirmation' | translate: { var1: checklist && checklist.title} }}  </p>
                      <p [innerHTML]="'cancellation_policy' | translate"  *ngIf="reservation && !currentFolder && !currentFile" class="text-wrap w-100 text-center d-flex align-items-center justify-content-center flex-column" > </p>
                      <!-- <p *ngIf="reservation && !currentFolder && !currentFile" class="text-wrap w-100">Voulez vous annuler cette reservation ? </p> -->
                      <p *ngIf="user && !currentFolder && !currentFile" class="text-wrap w-100">Voulez vous suprimer votre compte. Cela sera irreverssible? </p>
                  </div>
                  <div class="border-0 d-flex justify-content-center modal-footer">
                      <button type="button" class="border border-2 btn btn-light" data-bs-dismiss="modal">{{'no_option' | translate}}</button>
                      <button (click)="deleteFolderOrChecklist('5')" type="button" class="btn btn-primary ps-2 text-light" data-bs-dismiss="modal">
                          <i class="fa-trash-alt fas pe-2"></i>{{'yes_option' | translate}}
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
