
mgl-map {
  width: 100%;
  height: 100%;
  height: 90%;
}
.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate {
  height: 100%;
}
.card{
  margin-bottom: 0!important;
}

@media screen and (max-width:991px) {
  #firt_res_div{
    padding-bottom: 50px!important;
    /* min-height: 160vh;   */
  }

  }
@media screen and (max-width:911px) {
  .user_list{
    /* margin-top: 120px!important;   */
    margin-top: 3%;

  }
  }
@media screen and (max-width:543px) {
  .user_list{
    /* margin-top: 120px!important;   */
    margin-top: 15%;

  }
  }


