<div class="bg-white p-3">


  <div class="bg-white d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Checklists</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- <app-button (click)="del_modal.datas = getAllChecked(selected_data) " *ngIf="getAllChecked(selected_data).length > 0" class_="fas fa-trash" btn_class = "btn btn-outline-primary  btn-light" text="Suprimer" data-bs-toggle="modal" data-bs-target="#deleteModal"> </app-button> -->
      <!-- <app-button class_="fas fa-plus" btn_class = "btn btn-outline-primary  btn-light" text="Ajouter" data-bs-toggle="modal" data-bs-target="#modalAddPoint"> </app-button> -->
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAddPoint" >Ajouter</button> -->

    </div>
  </div>
  <div class="table-responsive">
  </div>

  <div class="container mt-3 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="pl-2 position-relative d-flex align-items-center">
          <input #search_input (change)="change()" [(ngModel)]="search_option" type="search"  class="form-control w-auto" placeholder="Recherche...">
          <span class=" ps-3 w-auto"><b>{{getChecklists() && getChecklists().length }}</b> checklist(s)</span>
        </div>
        <div class="px-2 d-flex align-items-center">
            <span class="pe-3">Filter par :  </span>
            <select style="min-width: 100px;" #select value="id"  [(ngModel)]="sort_option" class=" pe-3 form-select w-auto h-100" id="inputGroupSelect01">
              <option value="id" selected>Id</option>
              <option value="title">Titre</option>
              <option value="created_at">Date</option>

          </select>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-hover table-responsive table-borderless">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%">
                        <!-- <input   (change)="selectOrUnselectAll(input_.checked, checklists)" [checked]="isAllchecked(selected_data)" #input_ class="form-check-input" type="checkbox"> -->
                    </th>
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="20%">Date de creation</th>
                    <th>Image</th>
                    <th>Utilisateur</th>
                    <th>Titre</th>
                    <th>Avec Bébe</th>
                    <th>Fichiers Total</th>
                    <!-- <th class="text-end">Pays</th> -->
                    <th class="text-end">Total Dossiers</th>
                    <th class="text-end">Quantité</th>
                    <th class="text-end">Action</th>
                </tr>
            </thead>
            <tbody >
                <tr  routerLinkActive="router-link-active"  *ngFor="let checklist1 of getChecklists() | orderBy:  select.value | filterBy: ['title']: search_input.value   let i = index" class="">
                    <th scope="row">
                        <input #inp (change)="selectOrUnselect(inp.checked, i)"  [checked]="selected_data[i].selected"  class="form-check-input" type="checkbox">
                    </th>
                    <td>{{checklist1.id}}</td>
                    <td>{{checklist1.created_at |date}}</td>
                    <td>
                      <app-preloader-img [src]="checklist1.user.image ? checklist1.user.image : './assets/img/empty_profil.jpg'" [height_]="'25px'" [width_]="'25px'"></app-preloader-img>

                      <!-- <img [src]="checklist1.user.image" width="25"> -->
                    </td>
                    <td> {{checklist1.user.first_name}} {{checklist1.user.last_name}}</td>
                    <td> {{checklist1.title}}</td>
                    <td><span class="ms-1">{{checklist1.with_baby ? "with_baby" :"without_baby" | translate}}</span></td>
                    <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">{{checklist1.stats.total_files}}</span></td>
                    <td class="fw-bold text-end"><span class="fw-normal">{{checklist1.stats.total_folders}}</span> </td>
                    <td class="fw-bold text-end"><span class="fw-normal">{{checklist1.stats.qty+'/'+checklist1.stats.total_qty}}</span> </td>
                    <td class="text-end"><span class="fw-normal">
                      <a [routerLink]="['../checklist', checklist1.id]"  class="checklister pe-2 pointer">Details</a>
                      <!-- <a  [routerLink]="['/horraires_stations', checklist.id]" class="checklister ps-2" *ngIf="checklist.is_station">Gérer</a> -->
                    </span> </td>
                </tr>

            </tbody>
        </table>
        <div class="d-flex">
            <ul class="ms-auto pagination">
                <li (click)="navigateToPage(currentPage === 0 ? 0 : currentPage - 1)" class="page-item"  [ngClass]="{'disable': currentPage === 0, 'checklister': currentPage > 0}">
                    <a class="page-link" >Précedent</a>
                </li>
                <li (click)="navigateToPage(i)" *ngFor="let checklist of  pagination let i = index" class="page-item" [ngClass]="{'active': currentPage === i, 'checklister': currentPage !== i}">
                    <a  class="page-link " >{{i+1}}</a>
                </li>

                <li (click)="navigateToPage(currentPage === pagination && pagination.length - 1 ? currentPage : currentPage + 1)" class="page-item" [ngClass]="{'disable': currentPage === pagination && pagination.length - 1, 'checklister': !(currentPage < pagination && pagination.length - 1)}">
                    <a class="page-link" >Suivant</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>





<!-- <app-checklist-create ></app-checklist-create> -->

<!-- <app-modal-checklist-details #detailschecklist ></app-modal-checklist-details> -->
<app-toast #toast_c></app-toast>
<app-preloader></app-preloader>
