.date{
  font-size: 0.8em!important;
}
.tl-item>* {
  padding: 10px;
  padding-right: 0!important;
  width: 30%;
}
.tl-dot {
  padding: 0!important;
  width: 10%!important;
}
.tl-dot:after, .tl-dot:before {
  /* width: 16px!important; */
  /* height: 16px; */
}
.fs-7{
  font-size: 0.9rem!important;
}
